<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.system.SystemHolidayMapper">
  <resultMap id="BaseResultMap" type="com.eghm.dao.model.system.SystemHoliday">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="calendar" jdbcType="DATE" property="calendar" />
    <result column="date_month" jdbcType="CHAR" property="dateMonth" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="weekday" jdbcType="TINYINT" property="weekday" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, calendar, date_month, type, weekday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from system_holiday
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.eghm.dao.model.system.SystemHoliday">
    <!--
      @create by mybatis
    -->
    insert into system_holiday
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="calendar != null">
        calendar,
      </if>
      <if test="dateMonth != null">
        date_month,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="weekday != null">
        weekday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="calendar != null">
        #{calendar,jdbcType=DATE},
      </if>
      <if test="dateMonth != null">
        #{dateMonth,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="weekday != null">
        #{weekday,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>