<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.dao.mapper.system.TagViewMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.dao.model.system.TagView">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="tag" jdbcType="CHAR" property="tag" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, title, tag, url, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from tag_view
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.dao.model.system.TagView">
    <!--
      @create by mybatis
    -->
    update tag_view
    <set>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=CHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getList" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from tag_view
    </select>
</mapper>