<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.AuditRecordMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.AuditRecord">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="audit_no" jdbcType="VARCHAR" property="auditNo"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="opinion" jdbcType="VARCHAR" property="opinion"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="apply_id" jdbcType="BIGINT" property="applyId"/>
        <result column="role_type" jdbcType="VARCHAR" property="roleType"/>
        <result column="audit_type" jdbcType="VARCHAR" property="auditType"/>
        <result column="step" jdbcType="TINYINT" property="step"/>
        <result column="audit_operator_id" jdbcType="BIGINT" property="auditOperatorId"/>
        <result column="audit_operator_name" jdbcType="VARCHAR" property="auditOperatorName"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id, audit_no, state, opinion, title, apply_id, apply_operator_id, apply_operator_name, role_type, audit_type,
        step, audit_operator_id,
        audit_operator_name, audit_time, add_time, update_time
    </sql>
    <select id="getAuditList" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from audit_record where role_type in
        <foreach collection="roleList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="state != null">
            and state = #{state}
        </if>
    </select>
</mapper>