<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.BannerMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.Banner">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="classify" jdbcType="TINYINT" property="classify"/>
        <result column="client_type" jdbcType="VARCHAR" property="clientType"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="turn_url" jdbcType="VARCHAR" property="turnUrl"/>
        <result column="sort" jdbcType="TINYINT" property="sort"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="click" jdbcType="BIT" property="click"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id,title, classify, client_type, img_url, turn_url, sort, start_time, end_time, click,
        remark,add_time,update_time,deleted
    </sql>
    <select id="getBannerList" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from banner where
        <!-- 非实时性数据,直接取数据库时间,结束时间 <= now或者没有结束时间 开始时间大于当前时间 -->
        (end_time &lt;= now() or end_time is null) and start_time &gt;= now()
        and client_type = {clientType} and classify = #{classify} order by sort desc
    </select>
</mapper>