<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.HomestayRoomConfigMapper">

    <insert id="insertOrUpdate" parameterType="com.eghm.dao.model.HomestayRoomConfig">
        insert into homestay_room_config values
        (#{id}, #{state}, #{homestayRoomId}, #{configDate}, #{linePrice}, #{salePrice}, #{stock}, null, null, null, null)
        on duplicate key update state = #{state}, line_price = #{linePrice}, sale_price = #{salePrice}, stock = #{stock}
    </insert>

</mapper>
