<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.ImageLogMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.ImageLog">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="classify" jdbcType="TINYINT" property="classify"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id, title, classify, path, size, remark, add_time, update_time,deleted
    </sql>

</mapper>