<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.OrderRefundLogMapper">

    <select id="getTotalRefundNum" resultType="int">
        select ifnull(sum(num), 0) from order_refund_log where deleted = false and order_no = #{orderNo} and state in (0, 1)
    </select>
    
    <select id="getTicketRefunding" resultType="com.eghm.model.dto.ext.OrderRefund">
        select
             t.out_refund_no as outRefundNo,
             r.out_trade_no as outTradeNo
        from
        order_refund_log t
        inner join ticket_order r on t.order_no = r.order_no
        where t.deleted = false and t.state = 0
    </select>
</mapper>
