<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.PushTemplateMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.PushTemplate">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="nid" jdbcType="VARCHAR" property="nid"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id, title, nid, state, content, update_time, tag, remark
    </sql>

    <select id="getByNid" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from push_template where nid = #{nid} and state = 1 limit 1
    </select>

    <select id="getList" parameterType="com.eghm.model.dto.push.PushTemplateQueryRequest" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from push_template
        <where>
            <if test="queryName != null and queryName != ''">
                and (title like concat('%',#{queryName},'%') or nid = #{queryName} or tag = #{queryName})
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>
</mapper>