<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.ShoppingCarMapper">

    <select id="list" resultType="com.eghm.model.vo.shopping.ShoppingCarVO">
        select
        t.id,
        ifnull(ps.cover_url, r.cover_url) as coverUrl,
        r.title,
        t.quantity,
        ps.sale_price as salePrice,
        t.sale_price as rawSalePrice,
        r.quota as productQuota,
        ps.title as  skuName,
        ps.stock,
        ps.deleted as skuState,
        r.audit_state as productState
        from shopping_car t
        left join product r on t.product_id = r.id
        left join product_sku ps on t.sku_id = ps.id
        where t.deleted = false and t.user_id = #{userId} order by t.id desc
    </select>

</mapper>
