<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.SmsLogMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.SmsLog">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sms_type" jdbcType="VARCHAR" property="smsType"/>
        <result column="mobile" jdbcType="CHAR" property="mobile"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id, sms_type, mobile, content, add_time, state
    </sql>

    <select id="countSms" resultType="int">
        select count(1) from sms_log
        where mobile = #{mobile}
        <if test="smsType != null">
            and sms_type = #{smsType}
        </if>
        <if test="startTime != null">
            and add_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and add_time &lt; #{endTime}
        </if>
    </select>

</mapper>