<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.SysConfigMapper">
  <resultMap id="BaseResultMap" type="com.eghm.dao.model.SysConfig">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="classify" jdbcType="TINYINT" property="classify" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id,title, nid, content, remark, classify, locked, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from sys_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.eghm.dao.model.SysConfig">
    <!--
      @create by mybatis
    -->
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
        <if test="title != null">
            title,
        </if>
      <if test="nid != null">
        nid,
      </if>
      <if test="content != null">
          content,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="classify != null">
          classify,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
        <if test="title != null">
            #{title,jdbcType=VARCHAR},
        </if>
      <if test="nid != null">
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=TINYINT},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eghm.dao.model.SysConfig">
    <!--
      @create by mybatis
    -->
    update sys_config
    <set>
        <if test="title != null">
            title = #{title,jdbcType=VARCHAR},
        </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=CHAR},
      </if>
      <if test="content != null">
          content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
          classify = #{classify,jdbcType=TINYINT},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


    <select id="getByNid" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from sys_config WHERE nid = #{nid} limit 1
    </select>
    
    <update id="updateConfig" parameterType="com.eghm.model.dto.config.ConfigEditRequest">
        update sys_config SET
            title = #{title},
            classify = #{classify},
            content = #{content},
            remark = #{remark},
            locked = #{locked}
        where locked = false and nid = #{nid}
    </update>
    
    <select id="getList" parameterType="com.eghm.model.dto.config.ConfigEditRequest" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from sys_config
        <where>
            <if test="queryName != null and queryName != ''">
                and (title like concat('%',#{queryName},'%') or nid like concat('%',#{queryName},'%') or remark like concat('%',#{queryName},'%') )
            </if>
            <if test="classify != null">
                and classify = #{classify}
            </if>
            <if test="locked != null">
                and locked = #{locked}
            </if>
        </where>
    </select>
</mapper>