<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.eghm.dao.model.SysDept">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator_name" jdbcType="CHAR" property="operatorName" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, parent_code, code, title, add_time, update_time, deleted,remark,operator_name,operator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from sys_dept
    where id = #{id,jdbcType=BIGINT}
  </select>

    <insert id="insertSelective" parameterType="com.eghm.dao.model.SysDept">
    <!--
      @create by mybatis
    -->
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
        <if test="remark != null">
            remark,
        </if>
        <if test="operatorName != null">
            operator_name,
        </if>
        <if test="operatorId != null">
            operator_id,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
        <if test="remark != null">
            #{remark},
        </if>
        <if test="operatorName != null">
            #{operatorName},
        </if>
        <if test="operatorId != null">
            #{operatorId},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eghm.dao.model.SysDept">
    <!--
      @create by mybatis
    -->
    update sys_dept
    <set>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
        <if test="remark != null">
            #{remark},
        </if>
        <if test="operatorName != null">
            #{operatorName},
        </if>
        <if test="operatorId != null">
            #{operatorId},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getMaxCodeChild" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from sys_dept where parent_code = #{code} order by code desc limit 1
    </select>

    <select id="getList" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from sys_dept where deleted = false
    </select>

</mapper>