<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.SysOperatorRoleMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.SysOperatorRole">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id, operator_id, role_id
    </sql>

    <select id="getByOperatorId" resultType="java.lang.Long">
        select role_id
        from sys_operator_role where operator_id = #{operatorId}
    </select>

    <delete id="deleteByOperatorId" parameterType="java.lang.Long">
        delete from sys_operator_role where operator_id = #{operatorId}
    </delete>

    <insert id="batchInsertOperatorRole">
        insert into sys_operator_role(operator_id,role_id) values
        <foreach collection="roleList" separator="," item="item">
            (#{operatorId},#{item})
        </foreach>
    </insert>
</mapper>