<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.UserNoticeMapper">
    <resultMap id="BaseResultMap" type="com.eghm.dao.model.UserNotice">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="classify" jdbcType="VARCHAR" property="classify"/>
        <result column="read" jdbcType="BIT" property="read"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="BaseColumnList">
        <!--
          @create by mybatis
        -->
        id, user_id, title, content, classify, `read`, deleted, add_time, update_time
    </sql>
    <update id="updateNotice" parameterType="com.eghm.dao.model.UserNotice">
        update user_notice
        <set>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="read != null">
                `read` = #{read},
            </if>
        </set>
        where id = #{id} and user_id = #{userId}
    </update>
</mapper>