<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.UserCouponMapper">

    <select id="userCouponPage" resultType="com.eghm.model.vo.coupon.UserCouponVO" parameterType="com.eghm.model.dto.business.coupon.user.UserCouponQueryPageDTO">
        select
        t.id,
        t.state,
        r.title,
        r.face_value as amount,
        r.use_threshold as useThreshold,
        r.use_start_time as useStartTime,
        r.use_end_time as useEndTime,
        r.instruction
        from user_coupon t
        left join coupon_config r on t.coupon_config_id = r.id
        where t.deleted = false and t.user_id = #{userId}
        <if test="state != null" >
            and t.state = #{state}
        </if>
        order by t.id desc
    </select>

    <select id="selectCoupon" resultType="com.eghm.model.vo.coupon.UserCouponBaseVO">
        select
        t.id,
        r.title,
        r.face_value as amount,
        r.use_threshold as useThreshold
        from user_coupon t
        left join coupon_config r on r.id = t.coupon_config_id
        inner join coupon_product s on t.coupon_config_id = s.coupon_config_id
        where
        t.deleted = false and t.state = 0 and t.user_id = #{userId} and s.product_id = #{productId}
        and r.use_start_time &lt;= now() and r.use_end_time &lt;= now()
    </select>

</mapper>
