<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.sys.SmsTemplateMapper">
  <resultMap id="BaseResultMap" type="com.eghm.dao.model.business.SmsTemplate">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, nid, content, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from sms_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.eghm.dao.model.business.SmsTemplate">
    <!--
      @create by mybatis
    -->
    update sms_template
    <set>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getByNid" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from sms_template where nid = #{nid}
    </select>
    <select id="getList" parameterType="com.eghm.model.dto.business.sms.SmsTemplateQueryRequest" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from sms_template
        <if test="queryName != null and queryName != ''">
          where nid = #{queryName}
        </if>
    </select>
</mapper>