<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.infrastructure.persistence.mybatis.mapper.AuthConfigMapper">

    <select id="getByPage" resultType="com.eghm.application.shared.vo.operate.auth.AuthConfigResponse" >
        select id, app_id, email, title, remark, create_time, update_time, expire_date
        from auth_config where deleted = false
        <if test="queryName != null and queryName != ''">
            and title like concat('%', #{queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        order by id desc
    </select>

    <select id="getByAppId" resultType="com.eghm.application.shared.vo.operate.auth.AuthConfigVO">
        select app_id, app_secret, expire_date from auth_config where app_id = #{appId} limit 1
    </select>

</mapper>
