<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.AccountMapper">

    <update id="updateAccount" parameterType="com.eghm.model.Account">
        update account set
        pay_freeze = #{payFreeze},
        withdraw_freeze = #{withdrawFreeze},
        version = #{version} + 1,
        withdraw_amount = #{withdrawAmount}
        where id = #{id} and version = #{version}
    </update>
</mapper>
