<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.AppVersionMapper">

    <select id="getByPage" resultType="com.eghm.vo.operate.version.AppVersionResponse" parameterType="com.eghm.dto.operate.version.VersionQueryRequest">
        select id, channel, version, version_no, force_update, url, create_time, remark, state, update_time
        from app_version where deleted = false
        <if test="param.channel != null and param.channel != ''">
            and channel = #{param.channel}
        </if>
        <if test="param.state != null">
            and state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and remark like concat('%', #{param.queryName, typeHandler=LikeTypeHandler } ,'%')
        </if>
        order by id desc
    </select>

    <select id="getVersion" resultType="com.eghm.model.AppVersion">
        select id, channel, version, version_no, force_update, url, create_time, remark, deleted, update_time
        from app_version where channel = #{channel} and deleted = false and version = #{version} limit 1
    </select>

    <select id="getForceUpdateVersion" resultType="com.eghm.model.AppVersion">
        select id, channel, version,version_no, force_update, url, create_time, remark, deleted, update_time
        from app_version
        where channel = #{channel}
        and deleted = false
        and force_update = true
        and version_no &gt; #{startVersion}
        and version_no &lt; #{endVersion}
    </select>

</mapper>