<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.BannerMapper">

    <select id="getByPage" resultType="com.eghm.vo.banner.BannerResponse" parameterType="com.eghm.dto.operate.banner.BannerQueryRequest">
        select
            id,
            banner_type,
            click,
            client_type,
            create_time,
            end_time,
            img_url,
            jump_url,
            remark,
            sort,
            start_time,
            state,
            title,
            update_time
        from banner
        where deleted = false
        <if test="param.state != null">
            and state = #{param.state}
        </if>
        <if test="param.bannerType != null and param.bannerType != ''">
            and banner_type = #{param.bannerType}
        </if>
        <if test="param.clientType != null and param.clientType != ''">
            and client_type = #{param.clientType}
        </if>
        <if test="param.middleTime != null">
            and start_time &lt;= #{param.middleTime} and #{param.middleTime} &lt;= end_time
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%',#{param.queryName, typeHandler=LikeTypeHandler},'%')
        </if>
        order by id desc
    </select>

    <select id="getBannerList" resultType="com.eghm.vo.banner.BannerVO" >
        select
        title, img_url, jump_url, click
        from banner where state = true and
        <!-- 非实时性数据,直接取数据库时间,结束时间 <= now或者没有结束时间 开始时间大于当前时间, 由于移动端使用了缓存,因此在更新时需要刷新缓存 -->
        end_time &lt;= now()  and start_time &gt;= now()
        and client_type = #{clientType} and banner_type = #{bannerType} order by sort
    </select>

</mapper>