<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.CommentReportMapper">

    <select id="getByPage" resultType="com.eghm.vo.operate.comment.CommentReportResponse" parameterType="com.eghm.dto.operate.comment.CommentReportQueryRequest">
        select
        m.nick_name,
        c.content as commentContent,
        t.object_type,
        t.report_type,
        t.content,
        t.create_time
        from comment_report t
        left join `member` m on t.member_id = m.id
        left join comment c on t.comment_id = c.id
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != '' ">
            and t.content like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        <if test="param.objectType != null">
            and t.object_type = #{param.objectType}
        </if>
        <if test="param.reportType != null">
            and t.report_type = #{param.reportType}
        </if>
        <if test="param.commentId != null">
            and t.comment_id = #{param.commentId}
        </if>
        order by t.id desc
    </select>

</mapper>
