<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.CouponMapper">

    <select id="listPage" parameterType="com.eghm.dto.business.coupon.config.CouponQueryRequest" resultType="com.eghm.vo.business.coupon.CouponResponse">
        select
            t.id,
            t.title,
            t.state,
            t.stock,
            t.receive_num,
            t.use_num,
            t.mode,
            t.coupon_type,
            t.deduction_value,
            t.discount_value,
            t.start_time,
            t.end_time,
            t.use_threshold,
            t.use_start_time,
            t.use_end_time
        from coupon t
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        <if test="param.mode != null">
            and t.mode = #{param.mode}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        <if test="param.inStock == true">
            and t.stock &gt; 0
        </if>
        <if test="param.state != null">
            <choose>
                <when test="param.state == 0">
                    and t.start_time &gt; now()
                </when>
                <when test="param.state == 1">
                    and now() between t.start_time and t.end_time
                </when>
                <when test="param.state == 2">
                    and t.end_time &lt; now()
                </when>
            </choose>
        </if>
        order by t.state desc, id desc
    </select>

    <update id="updateStock" >
        update coupon set stock = stock + #{num}, receive_num = receive_num - #{num}
        where id = #{id} and stock + #{num} &gt;= 0 and deleted = false and state = true
    </update>

    <select id="getByPage" resultType="com.eghm.vo.business.coupon.CouponVO"
            parameterType="com.eghm.dto.business.coupon.config.CouponQueryDTO">
        select
            id,
            title,
            max_limit,
            coupon_type,
            deduction_value,
            discount_value,
            use_threshold,
            use_start_time,
            use_end_time,
            instruction
        from coupon where deleted = false and stock &gt; 0 and state = 1 and `mode` = 1
        and now() between start_time and end_time
    </select>

    <select id="getProductCoupon" resultType="com.eghm.vo.business.coupon.CouponVO" >
        select
            r.id,
            r.title,
            r.max_limit,
            r.coupon_type,
            r.deduction_value,
            r.discount_value,
            r.use_threshold,
            r.use_start_time,
            r.use_end_time,
            r.instruction
        from coupon r left join coupon_scope t on t.coupon_id = r.id
        where r.deleted = false and r.stock &gt; 0 and r.state = 1 and r.`mode` = 1
        <!-- 商品券或店铺券都过滤 注意 storeId为空时 默认查询自营商品的优惠券 -->
        and ((t.product_id = #{productId} and r.use_scope = 2)  or (r.use_scope = 1 and r.store_id = #{storeId}))
    </select>

    <select id="getDetail" resultType="com.eghm.vo.business.coupon.CouponVO">
        select
            r.id,
            r.title,
            r.max_limit,
            r.coupon_type,
            r.deduction_value,
            r.discount_value,
            r.use_threshold,
            r.use_start_time,
            r.use_end_time,
            r.instruction
        from coupon r where r.deleted = false and r.stock &gt; 0 and r.state = 1 and r.`mode` = 1 and id = #{id}
    </select>

    <select id="getList" resultType="com.eghm.vo.business.coupon.CouponBaseResponse">
        select
            r.id,
            r.title,
            r.state
        from coupon r where r.deleted = false and r.stock &gt; 0 and r.start_time &lt;= now() and r.end_time &gt;= now()
        <if test="mode != null">
            and r.mode = #{mode}
        </if>
        order by r.id desc
    </select>
</mapper>
