<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ExpressLogisticsMapper">

    <select id="getExpress" resultType="com.eghm.model.ExpressLogistics">
        select
        r.id,
        t.express_code,
        t.express_no,
        t.content
        from express_logistics t inner join item_order_express r on t.express_no = r.express_no
        where r.order_no = #{orderNo}
    </select>

</mapper>
