<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.FeedbackLogMapper">

    <select id="getByPage" parameterType="com.eghm.dto.operate.feedback.FeedbackQueryRequest" resultType="com.eghm.vo.feedback.FeedbackResponse">
        select
        t.id,
        t.state,
        t.feedback_type,
        t.version,
        t.system_version,
        t.content,
        t.image_url,
        t.create_time,
        t.update_time,
        t.device_brand,
        t.device_model,
        r.nick_name,
        r.mobile,
        t.remark
        from feedback_log t
        left join `member` r on t.member_id = r.id
        <where>
            <if test="param.queryName != null and param.queryName != ''">
                and (r.mobile like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') or
                r.nick_name like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%'))
            </if>
            <if test="param.feedbackType != null">
                and t.feedback_type = #{param.feedbackType}
            </if>
            <if test="param.state != null">
                and t.state = #{param.state}
            </if>
        </where>
        order by t.id desc
    </select>
</mapper>