<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.FeedbackLogMapper">

    <select id="getByPage" parameterType="com.eghm.dto.feedback.FeedbackQueryRequest" resultType="com.eghm.model.FeedbackLog">
        select
        t.id,
        t.state,
        t.classify,
        t.version,
        t.system_version,
        t.content,
        t.create_time,
        t.update_time,
        t.device_brand,
        t.device_model,
        r.nick_name,
        r.mobile
        from feedback_log t left join member r on t.member_id = r.id
        <where>
            <if test="param.queryName != null and param.queryName != ''">
                and r.mobile = #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}
            </if>
            <if test="param.classify != null">
                and t.classify = #{param.classify}
            </if>
            <if test="param.state != null">
                and t.state = #{param.state}
            </if>
        </where>
        order by t.id desc
    </select>
</mapper>