<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.GroupBookingMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.group.GroupBookingResponse" parameterType="com.eghm.dto.business.group.GroupBookingQueryRequest">
        select
            g.id,
            g.title,
            g.item_id,
            i.title as item_name,
            g.start_time,
            g.end_time,
            g.num,
            g.expire_time,
            g.create_time,
            g.update_time
        from group_booking g
        left join item i on g.item_id = i.id
        where g.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and ( g.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            i.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%'))
        </if>
        <if test="param.state != null">
            <choose>
                <when test="param.state == 0">
                    and g.end_time &lt; now()
                </when>
                <when test="param.state == 1">
                    and now() between g.start_time and g.end_time
                </when>
                <otherwise>
                    and g.start_time &gt; now()
                </otherwise>
            </choose>
        </if>
        order by g.id desc
    </select>

    <select id="getValidById" resultType="com.eghm.model.GroupBooking">
        select
            id, title, item_id, sku_value, num, expire_time
        from group_booking where id = #{bookingId} and deleted = false and now() between start_time and end_time
    </select>

    <select id="getById" resultType="com.eghm.model.GroupBooking">
        select
            id, title, item_id, sku_value, start_time, end_time, num, expire_time
        from group_booking where id = #{bookingId}
    </select>

    <select id="listPage" resultType="com.eghm.vo.business.group.GroupItemVO" parameterType="com.eghm.dto.business.group.GroupBookingQueryDTO">
        select
            t.item_id,
            t.num as groupNum,
            t.max_discount_amount,
            r.title,
            r.cover_url,
            r.min_price,
            r.sale_num
        from group_booking t inner join item r on t.item_id = r.id
        where r.state = 1 and r.deleted = false and t.deleted = false and now() between t.start_time and t.end_time and r.min_price &gt; 0
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
        </if>
        <if test="param.sortBy != null">
            <choose>
                <when test="param.sortBy == 1">
                    order by r.min_price, r.recommend desc
                </when>
                <when test="param.sortBy == 2">
                    order by r.total_num desc, r.recommend desc
                </when>
                <when test="param.sortBy == 3">
                    order by r.score desc, r.recommend desc
                </when>
                <when test="param.sortBy == 4">
                    order by t.max_discount_amount desc, r.recommend desc
                </when>
                <otherwise>
                    order by r.recommend desc, t.id desc
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
