<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.HelpCenterMapper">

    <select id="getByPage" resultType="com.eghm.vo.help.HelpResponse" parameterType="com.eghm.dto.sys.help.HelpQueryRequest">
        select
            id,
            ask,
            help_type,
            sort,
            state,
            create_time,
            update_time
        from help_center
        where deleted = false
        <if test="param.helpType != null">
            and help_type = #{param.helpType}
        </if>
        <if test="param.state != null">
            and state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and ask like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        order by sort, id desc
    </select>

    <select id="getList" parameterType="com.eghm.dto.sys.help.HelpQueryRequest" resultType="com.eghm.model.HelpCenter">
        select help_type, ask, answer from help_center where deleted = false and state = true and help_type = #{helpType}
        <if test="queryName != null and queryName != ''">
            and (ask like concat('%', #{queryName, typeHandler=LikeTypeHandler}, '%') or
                 answer like concat('%', #{queryName, typeHandler=LikeTypeHandler} ,'%'))
        </if>
        order by sort
    </select>
</mapper>