<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.HomestayOrderMapper">
    <select id="listPage" resultType="com.eghm.vo.business.order.homestay.HomestayOrderResponse" parameterType="com.eghm.dto.business.order.homestay.HomestayOrderQueryRequest">
        select
        t.order_no,
        r.cover_url,
        r.title,
        m.title as homestayName,
        r.pay_type,
        r.nick_name,
        r.mobile,
        r.num,
        r.state,
        r.pay_time,
        r.pay_amount,
        r.discount_amount,
        r.create_time
        from `order` r
        inner join homestay_order t on t.order_no = r.order_no
        left join homestay m on t.homestay_id = m.id
        where t.deleted = false
        <if test="param.merchantId != null">
            and r.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and (r.order_no like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') or
            r.title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') or
            m.title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') or
            r.mobile like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') )
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        <if test="param.useVoucher != null">
            <if test="param.useVoucher">
                and r.coupon_id is not null
            </if>
            <if test="!param.useVoucher">
                and r.coupon_id is null
            </if>
        </if>
        <if test="param.startDate != null and param.endDate != null">
            and r.pay_time between #{param.startDate} and #{param.endDate}
        </if>
        order by t.id desc
    </select>

    <select id="getSnapshot" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            t.title as productTitle,
            t.cover_url as productCover,
            t.store_id as storeId,
            r.room_id as productId
        from homestay_order r inner join `order` t on t.order_no = r.order_no
        where t.id = #{orderId} and r.order_no = #{orderNo} and t.deleted = false
    </select>

    <select id="getList" resultType="com.eghm.vo.business.order.homestay.HomestayOrderVO" parameterType="com.eghm.dto.business.order.homestay.HomestayOrderQueryDTO">
        select
        t.order_no,
        r.cover_url,
        r.title,
        m.title as homestayName,
        t.homestay_id,
        r.pay_type,
        r.num,
        r.state,
        r.pay_amount
        from `order` r
        inner join homestay_order t on t.order_no = r.order_no
        left join homestay m on t.homestay_id = m.id
        where t.deleted = false and r.member_id = #{param.memberId}
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        order by t.id desc
    </select>

    <select id="getDetail" resultType="com.eghm.vo.business.order.homestay.HomestayOrderDetailVO">
        select
            t.order_no,
            r.cover_url,
            r.title,
            r.verify_no,
            m.title as homestayName,
            t.homestay_id,
            r.pay_type,
            r.refund_type,
            r.refund_state,
            r.price,
            r.discount_amount,
            r.cd_key,
            r.cd_key_amount,
            r.num,
            r.state,
            t.confirm_state,
            t.remark as confirm_remark,
            r.pay_amount,
            r.create_time,
            r.pay_time,
            r.mobile,
            r.complete_time,
            t.start_date,
            t.end_date,
            r.remark
        from `order` r
        inner join homestay_order t on t.order_no = r.order_no
        left join homestay m on t.homestay_id = m.id
        where t.deleted = false and r.member_id = #{memberId} and r.order_no = #{orderNo}
    </select>

    <select id="detail" resultType="com.eghm.vo.business.order.homestay.HomestayOrderDetailResponse">
        select
            t.order_no,
            r.cover_url,
            r.title,
            r.verify_no,
            r.trade_no,
            m.title as homestayName,
            t.homestay_id,
            r.pay_type,
            r.refund_type,
            r.refund_state,
            r.price,
            r.discount_amount,
            r.num,
            r.state,
            r.pay_amount,
            r.create_time,
            r.pay_time,
            r.close_type,
            r.close_time,
            r.mobile,
            r.cd_key,
            r.cd_key_amount,
            t.confirm_state,
            t.remark as confirm_remark,
            r.complete_time,
            t.start_date,
            t.end_date,
            r.remark
        from `order` r
        inner join homestay_order t on t.order_no = r.order_no
        left join homestay m on t.homestay_id = m.id
        where t.deleted = false and r.order_no = #{orderNo}
        <if test="merchantId != null">
            and r.merchant_id = #{merchantId}
        </if>
    </select>

    <select id="snapshotDetail" resultType="com.eghm.vo.business.order.homestay.HomestayOrderSnapshotVO">
        select
            t.cover_url,
            t.title,
            t.homestay_id,
            t.dimension,
            t.resident,
            t.room_type,
            t.introduce,
            s.refund_type,
            s.refund_describe,
            r.title as homestayName,
            r.level as homestayLevel,
            t.infrastructure
        from homestay_order t
        left join `order` s on t.order_no = s.order_no
        left join homestay r on t.homestay_id = r.id
        where t.deleted = false and t.order_no = #{orderNo}
        <if test="memberId != null">
            and t.member_id = #{memberId}
        </if>
    </select>

</mapper>
