<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.HomestayRoomConfigMapper">

    <insert id="insertOrUpdate" parameterType="com.eghm.model.HomestayRoomConfig">
        insert into homestay_room_config (id, homestay_room_id, homestay_id, config_date, state, line_price, sale_price, stock) values
        (#{id}, #{homestayRoomId}, #{homestayId}, #{configDate}, #{state},  #{linePrice}, #{salePrice}, #{stock})
        on duplicate key update state = #{state}, line_price = #{linePrice}, sale_price = #{salePrice}, stock = #{stock}
    </insert>

    <update id="updateStock" >
        update homestay_room_config set stock = stock + #{num} and sale_num = sale_num - #{num}
        where
          homestay_room_id = #{roomId}
          and stock + #{num} &gt;= 0
          and config_date &gt;= #{startDate}
          and config_date &lt; #{endDate}
          and state = true
    </update>

    <select id="getHomestayMinPrice" resultType="com.eghm.vo.business.homestay.room.config.HomestayMinPriceVO">
        select
        min(sale_price) as minPrice,
        homestay_id as homestayId
        from homestay_room_config where config_date between #{startDate} and #{endDate} and state = true and stock &gt; 0
        and homestay_id in
        <foreach collection="homestayList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        group by homestay_id
    </select>

    <select id="getRoomMinPrice" resultType="integer">
        select
            min(sale_price)
        from homestay_room_config where config_date between #{startDate} and #{endDate} and state = true and stock &gt; 0 and homestay_room_id = #{roomId}
    </select>

</mapper>
