<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.HomestayMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.homestay.HomestayListVO" parameterType="com.eghm.dto.business.homestay.HomestayQueryDTO">
        <choose>
            <when test="param.sortByDistance">
                <include refid="getByPageSortDistanceSql"/>
            </when>
            <otherwise>
                <include refid="getByPageSql"/>
            </otherwise>
        </choose>
    </select>

    <!--无距离排序,不进行子查询-->
    <sql id="getByPageSql">
        select
        id,
        title,
        longitude,
        latitude,
        <if test="param.longitude != null and param.latitude != null">
            st_distance_sphere(point(longitude, latitude), point(#{param.longitude}, #{param.latitude})) as distance,
        </if>
        `level`,
        city_id as cityId,
        county_id as countyId,
        detail_address as detailAddress,
        cover_url as coverUrl,
        phone,
        tag as tagIds
        from homestay where state = 1 and platform_state = 2 and deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName}, '%')
        </if>
        <if test="param.level != null">
            and `level` = #{param.level}
        </if>
        order by id desc
    </sql>
    <!--有距离排序-->
    <sql id="getByPageSortDistanceSql">
        select s.* from ( select
        id,
        title,
        longitude,
        latitude,
        st_distance_sphere(point(longitude, latitude),point(#{param.longitude}, #{param.latitude})) as distance,
        `level`,
        city_id as cityId,
        county_id as countyId,
        detail_address as detailAddress,
        cover_url as coverUrl,
        phone,
        tag as tagIds
        from homestay where state = 1 and platform_state = 2 and deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName}, '%')
        </if>
        <if test="param.level != null">
            and `level` = #{param.level}
        </if>
        ) s
        order by s.distance, s.id desc
    </sql>
</mapper>
