<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.HomestayRoomMapper">

    <select id="listPage" parameterType="com.eghm.dto.business.homestay.room.HomestayRoomQueryRequest" resultType="com.eghm.vo.business.homestay.room.HomestayRoomResponse">
        select
        t.id,
        t.title,
        t.cover_url,
        r.title as homestayTitle,
        t.state,
        t.recommend,
        t.dimension,
        t.resident,
        t.room_type,
        t.refund_type,
        t.create_time,
        t.update_time
        from homestay_room t
        left join homestay r on t.homestay_id = r.id
        where t.deleted = false and r.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.refundType != null">
            and t.refund_type = #{param.refundType}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        order by t.id desc
    </select>

    <select id="getByPage" resultType="com.eghm.vo.business.homestay.room.HomestayRoomListVO"
            parameterType="com.eghm.dto.business.homestay.room.HomestayRoomQueryDTO">
        select
        id,
        title,
        cover_url,
        room_type
        from homestay_room
        where state = 1 and deleted = false and homestay_id = #{param.homestayId}
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.roomType != null">
            and room_type = #{param.roomType}
        </if>
        <if test="resident != null">
            and resident &gt;= #{resident}
        </if>
        order by id desc
    </select>

    <select id="getRecommendRoom" resultType="com.eghm.vo.business.homestay.room.HomestayRoomListVO">
        select
            id,
            title,
            cover_url,
            room_type
        from homestay_room
        where state = 1 and deleted = false and homestay_id = #{homestayId}
        order by recommend desc, id limit #{limit}
    </select>

    <select id="dayAppend" parameterType="com.eghm.dto.statistics.ProductRequest"  resultType="com.eghm.vo.business.statistics.ProductStatisticsVO">
        select
        create_date as createDate,
        sum(id) as appendNum
        from homestay_room
        where create_date &gt;= #{startDate} and create_date &lt;= #{endDate} and deleted = false
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        group by create_date
    </select>

    <select id="getProductPage" parameterType="com.eghm.dto.business.base.BaseProductQueryRequest" resultType="com.eghm.vo.business.base.BaseProductResponse">
        select
        t.id,
        t.title,
        t.cover_url,
        'homestay' as productType,
        t.state,
        r.title as storeName
        from homestay_room t inner join homestay r on t.homestay_id = r.id
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
            or r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%'))
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        order by t.id desc
    </select>

</mapper>
