<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.HomestayOrderMapper">

    <select id="getSnapshot" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            t.title as productTitle,
            t.cover_url as productCover,
            r.room_id as productId
        from homestay_order r inner join `order` t on t.order_no = r.order_no
        where t.id = #{orderId} and t.deleted = false
    </select>

</mapper>
