<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ImageLogMapper">

    <select id="getByPage" resultType="com.eghm.vo.log.ImageLogResponse" parameterType="com.eghm.dto.image.ImageQueryRequest">
        select
            id,
            image_type,
            path,
            remark,
            size,
            title,
            create_time,
            update_time
        from image_log where deleted = false
        <if test="param.imageType != null">
            and image_type = #{param.imageType}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and (title like concat('%',#{param.queryName, typeHandler=LikeTypeHandler} ,'%') or
            remark like concat('%',#{param.queryName, typeHandler=LikeTypeHandler} ,'%'))
        </if>
        order by id desc
    </select>
</mapper>