<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ItemTagMapper">

    <select id="getList" resultType="com.eghm.vo.business.item.ItemTagResponse" parameterType="com.eghm.dto.business.item.ItemTagQueryRequest">
        select id, pid, title, icon, sort, state from item_tag where deleted = 0
        <if test="queryName != null and queryName != '' ">
            and (title like concat('%', #{queryName, typeHandler=LikeTypeHandler}, '%') )
        </if>
        <if test="state != null  ">
            and state = #{state}
        </if>
    </select>

    <select id="getChildMaxId" resultType="string">
        select max(id) from item_tag where pid = #{pid}
    </select>

</mapper>
