<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ItemStoreMapper">

    <select id="getRecommend" resultType="com.eghm.vo.business.item.store.ItemStoreVO">
        select
        id,
        title,
        logo_url,
        cover_url,
        telephone,
        introduce
        from item_store where state = 1 and deleted = false order by recommend desc limit #{limit}
    </select>

    <update id="updateScore">
        update item_store set score = #{score} where id = #{id}
    </update>

</mapper>
