<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ItemOrderMapper">

    <select id="listPage" parameterType="com.eghm.dto.business.order.item.ItemOrderQueryRequest" resultType="com.eghm.vo.business.order.item.ItemOrderResponse">
        select
        r.order_no,
        r.cover_url,
        r.title,
        t.title as storeName,
        r.pay_type,
        r.num,
        r.state,
        r.create_time,
        r.nick_name,
        r.mobile,
        r.pay_time,
        r.discount_amount,
        r.delivery_type,
        r.pay_amount
        from `order` r
        left join item_store t on t.id = r.store_id
        where t.deleted = false
        <if test="param.merchantId != null">
            and r.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        <if test="param.refundState != null">
            and r.refund_state = #{param.refundState}
        </if>
        <if test="param.deliveryType!= null">
            and r.delivery_type = #{param.deliveryType}
        </if>
        <if test="param.useVoucher != null">
            <if test="param.useVoucher">
                and r.coupon_id is not null
            </if>
            <if test="!param.useVoucher">
                and r.coupon_id is null
            </if>
        </if>
        <if test="param.startDate != null and param.endDate != null">
            and r.pay_time between #{param.startDate} and #{param.endDate}
        </if>
        order by t.id desc
    </select>

    <select id="getProductNum" resultType="int">
        select ifnull(sum(num), 0) from item_order where order_no = #{orderNo} and deleted = false
    </select>

    <select id="getList" parameterType="com.eghm.dto.business.order.item.ItemOrderQueryDTO" resultType="com.eghm.vo.business.order.item.ItemOrderVO">
        select
        r.order_no,
        r.cover_url,
        r.title,
        r.store_id,
        t.title as storeName,
        r.pay_type,
        r.num,
        r.state,
        r.pay_amount
        from `order` r
        left join item_store t on t.id = r.store_id
        where t.deleted = false and r.member_id = #{param.memberId}
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        order by t.id desc
    </select>

    <select id="getDetail"  resultType="com.eghm.vo.business.order.item.ItemOrderDetailVO">
        select
        r.order_no,
        r.store_id,
        t.title as storeName,
        r.pay_type,
        r.state,
        r.pay_amount,
        r.refund_state,
        r.discount_amount,
        r.create_time,
        r.pay_time,
        r.remark,
        r.complete_time,
        r.close_time,
        r.nick_name,
        r.mobile,
        r.province_id,
        r.city_id,
        r.county_id,
        r.detail_address
        from `order` r
        left join item_store t on t.id = r.store_id
        where t.deleted = false and r.member_id = #{memberId} and r.order_no = #{orderNo}
    </select>

    <select id="getItemList" resultType="com.eghm.vo.business.order.item.ItemOrderListVO">
        select
        item_id,
        title,
        refund_state,
        num,
        cover_url,
        sku_title,
        sale_price
        from item_order where order_no = #{orderNo} and deleted = false
    </select>

    <select id="detail"  resultType="com.eghm.vo.business.order.item.ItemOrderDetailResponse">
        select
            r.order_no,
            r.store_id,
            t.title as storeName,
            r.pay_type,
            r.state,
            r.pay_amount,
            r.refund_state,
            r.discount_amount,
            r.create_time,
            r.close_type,
            r.pay_time,
            r.remark,
            r.complete_time,
            r.close_time,
            r.nick_name,
            r.mobile,
            r.province_id,
            r.city_id,
            r.county_id,
            r.detail_address
        from `order` r
        left join item_store t on t.id = r.store_id
        where t.deleted = false and r.order_no = #{orderNo}
        <if test="merchantId != null">
            and r.merchant_id = #{merchantId}
        </if>
    </select>

</mapper>
