<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LimitPurchaseItemMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.limit.LimitItemVO" parameterType="com.eghm.dto.business.purchase.LimitPurchaseQueryDTO">
        select
            t.item_id,
            t.max_discount_amount,
            r.title,
            r.cover_url,
            r.min_price,
            r.sale_num,
            if(now() &gt;= t.advance_time, 1, 0) as onSale
        from limit_purchase_item t inner join item r on t.item_id = r.id
        where r.state = 1 and r.deleted = false and t.deleted = false and now() between t.advance_time and t.end_time and r.min_price &gt; 0
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
        </if>
        <if test="param.sortBy != null">
            <choose>
                <when test="param.sortBy == 1">
                    order by r.min_price, r.recommend desc
                </when>
                <when test="param.sortBy == 2">
                    order by r.total_num desc, r.recommend desc
                </when>
                <when test="param.sortBy == 3">
                    order by r.score desc, r.recommend desc
                </when>
                <when test="param.sortBy == 4">
                    order by t.max_discount_amount desc, r.recommend desc
                </when>
                <otherwise>
                    order by r.recommend desc, t.id desc
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="getLimitList" resultType="com.eghm.vo.business.limit.LimitItemResponse">
        select
        t.sku_value,
        t.item_id,
        r.title,
        r.cover_url
        from limit_purchase_item t
        left join item r on t.item_id = r.id
        where t.deleted = false and r.deleted = false and t.limit_purchase_id = #{limitId}
    </select>

</mapper>
