<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LimitPurchaseItemMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.limit.LimitItemVO" parameterType="com.eghm.dto.business.purchase.LimitPurchaseQueryDTO">
        select
            t.item_id,
            t.max_discount_amount,
            r.title,
            r.cover_url,
            t.min_price,
            r.sale_num,
            if(now() &gt;= t.advance_time, 1, 0) as onSale
        from limit_purchase_item t inner join item r on t.item_id = r.id
        where r.state = 1 and r.deleted = false and t.deleted = false and now() between t.advance_time and t.end_time
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler} ,'%')
        </if>
        <choose>
            <when test="param.sortBy == null">
                order by r.recommend desc, t.id desc
            </when>
            <when test="param.sortBy == 1">
                order by t.min_price, r.recommend desc
            </when>
            <when test="param.sortBy == 2">
                order by r.total_num desc, r.recommend desc
            </when>
            <when test="param.sortBy == 3">
                order by r.score desc, r.recommend desc
            </when>
            <otherwise>
                order by t.max_discount_amount desc, r.recommend desc
            </otherwise>
        </choose>
    </select>

    <select id="getLimitList" resultType="com.eghm.vo.business.limit.LimitItemResponse">
        select
        t.sku_value,
        t.item_id,
        r.title,
        r.cover_url
        from limit_purchase_item t
        left join item r on t.item_id = r.id
        where t.deleted = false and r.deleted = false and t.limit_purchase_id = #{limitId}
    </select>

    <select id="getByItemId" resultType="com.eghm.model.LimitPurchaseItem">
        select
        t.id,
        t.item_id,
        t.limit_purchase_id,
        t.max_discount_amount,
        t.start_time,
        t.advance_time,
        t.end_time,
        t.min_price,
        t.sku_value
        from limit_purchase_item t left join limit_purchase r on t.limit_purchase_id = r.id
        where t.item_id = #{itemId} and t.deleted = false  and r.state = 1 and now() between t.start_time and t.end_time
        <if test="merchantId != null">
            and t.merchant_id = #{merchantId}
        </if>
        limit 1
    </select>

    <select id="countJoining" resultType="int">
        select count(t.id) from limit_purchase_item t left join limit_purchase r on t.limit_purchase_id = r.id
        where t.deleted = false and r.state = 1 and now() &lt; t.end_time and t.item_id = #{itemId} and t.merchant_id = #{merchantId}
    </select>

    <select id="countJoiningList" resultType="int">
        select count(t.id) from limit_purchase_item t left join limit_purchase r on t.limit_purchase_id = r.id
        where t.deleted = false and r.state = 1 and now() &lt; t.end_time and t.merchant_id = #{merchantId}
        <if test="limitId != null">
            and t.limit_purchase_id &lt;&gt; #{limitId}
        </if>
        and t.item_id in
        <foreach collection="itemIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>
