<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LineOrderSnapshotMapper">

    <select id="getList" resultType="com.eghm.vo.business.order.line.LineOrderSnapshotVO">
        select
            route_index,
            start_point,
            end_point,
            traffic_type,
            repast,
            depict
        from line_order_snapshot where order_no = #{orderNo} order by route_index
    </select>

</mapper>
