<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LineMapper">

    <select id="listPage" parameterType="com.eghm.dto.business.line.LineQueryRequest" resultType="com.eghm.vo.business.line.LineResponse">
        select
            t.id,
            t.title,
            s.title as travelAgencyName,
            t.state,
            t.hot_sell,
            t.start_province_id,
            t.start_city_id,
            t.cover_url,
            t.sale_num,
            t.duration,
            t.create_time,
            t.update_time
        from line t
        left join travel_agency s on t.travel_agency_id = s.id
        where t.deleted = 0
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        <if test="param.duration != null">
            and t.duration = #{param.duration}
        </if>
        <if test = "param.travelAgencyId != null">
            and t.travel_agency_id = #{param.travelAgencyId}
        </if>
        <if test="param.startCityId != null">
            and t.start_city_id = #{param.startCityId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like  concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        order by t.id desc
    </select>

    <select id="getByPage" parameterType="com.eghm.dto.business.line.LineQueryDTO" resultType="com.eghm.vo.business.line.LineVO">
        select
        t.id,
        t.title,
        t.travel_agency_id,
        s.logo_url as travelLogoUrl,
        s.title as travelAgencyName,
        t.start_city_id,
        t.cover_url,
        t.total_num,
        t.duration
        from line t
        left join travel_agency s on t.travel_agency_id = s.id
        where t.deleted = false and t.state = 1
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.startProvinceId != null">
            and t.start_province_id = #{param.startProvinceId}
        </if>
        <if test="param.startCityId != null">
            and t.start_city_id = #{param.startCityId}
        </if>
        <if test="param.travelAgencyId != null">
            and t.travel_agency_id = #{param.travelAgencyId}
        </if>
        <if test="param.duration != null">
            and t.duration = #{param.duration}
        </if>
        <if test="param.sortBySale != null">
            <choose>
                <when test="param.sortBySale">
                    order by t.total_num desc
                </when>
                <otherwise>
                    order by t.id desc
                </otherwise>
            </choose>
        </if>
    </select>

    <update id="updateScore">
        update line set score = #{score} where id = #{id}
    </update>

    <select id="getById" resultType="com.eghm.vo.business.line.LineDetailVO">
        select
        t.id,
        t.title,
        t.travel_agency_id,
        s.logo_url as travelLogoUrl,
        s.title as travelAgencyName,
        t.hot_sell,
        t.start_province_id,
        t.start_city_id,
        t.cover_url,
        t.duration,
        t.refund_type,
        t.refund_describe,
        t.score,
        t.total_num,
        t.introduce,
        t.advance_day
        from line t left join travel_agency s on t.travel_agency_id = s.id
        where t.deleted = false and t.state = 1 and t.id = #{id}
    </select>

    <select id="getList" resultType="com.eghm.vo.business.line.LineVO">
        select
            t.id,
            t.title,
            t.start_city_id,
            t.cover_url,
            t.total_num,
            t.duration,
            t.state
        from line t
        where t.id in
        <foreach collection="lineIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="dayAppend" parameterType="com.eghm.dto.statistics.ProductRequest"  resultType="com.eghm.vo.business.statistics.ProductStatisticsVO">
        select
        create_date as createDate,
        sum(id) as appendNum
        from line
        where create_date &gt;= #{startDate} and create_date &lt;= #{endDate}  and deleted = false
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        group by create_date
    </select>

    <select id="getProductPage" parameterType="com.eghm.dto.business.base.BaseProductQueryRequest" resultType="com.eghm.vo.business.base.BaseProductResponse">
        select
        t.id,
        t.title,
        t.cover_url,
        'line' as productType,
        t.state,
        r.title as storeName
        from line t inner join travel_agency r on t.travel_agency_id = r.id
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
            or r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%'))
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        order by t.id desc
    </select>

</mapper>
