<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LineConfigMapper">

    <insert id="insertOrUpdate" parameterType="com.eghm.model.LineConfig">
        insert into line_config (id, line_id, config_date, state, stock, line_price, sale_price) values
            (#{id}, #{lineId}, #{configDate}, #{state}, #{stock}, #{linePrice}, #{salePrice})
        on duplicate key update state = #{state}, line_price = #{linePrice}, sale_price = #{salePrice}, stock = #{stock}
    </insert>
    
    <update id="updateStock">
        update line_config set stock = stock + #{num}, sale_num = sale_num - #{num}
        where id = #{id} and state = true and stock + #{num} &gt;= 0
    </update>
</mapper>
