<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LineOrderMapper">

    <select id="listPage" parameterType="com.eghm.dto.business.order.line.LineOrderQueryRequest" resultType="com.eghm.vo.business.order.line.LineOrderResponse">
        select
        t.order_no,
        r.cover_url,
        r.title,
        m.title as travelName,
        r.pay_type,
        r.pay_time,
        r.create_time,
        r.nick_name,
        r.mobile,
        r.num,
        r.state,
        r.discount_amount,
        r.pay_amount
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        left join travel_agency m on t.travel_agency_id = m.id
        where t.deleted = false
        <if test="param.merchantId != null">
            and r.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        <if test="param.useVoucher != null">
            <if test="param.useVoucher">
                and r.coupon_id is not null
            </if>
            <if test="!param.useVoucher">
                and r.coupon_id is null
            </if>
        </if>
        <if test="param.startDate != null and param.endDate != null">
            and r.pay_time between #{param.startDate} and #{param.endDate}
        </if>
        order by t.id desc
    </select>

    <select id="getSnapshot" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            t.title as productTitle,
            t.cover_url as productCover,
            t.store_id as storeId,
            r.line_id as productId
        from line_order r inner join `order` t on t.order_no = r.order_no
        where t.id = #{orderId} and r.order_no = #{orderNo} and t.deleted = false
    </select>

    <select id="getList" parameterType="com.eghm.dto.business.order.line.LineOrderQueryDTO" resultType="com.eghm.vo.business.order.line.LineOrderVO">
        select
        t.order_no,
        r.cover_url,
        r.title,
        m.title as travelName,
        t.travel_agency_id,
        r.pay_type,
        r.num,
        r.state,
        r.pay_amount
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        left join travel_agency m on t.travel_agency_id = m.id
        where t.deleted = false and r.member_id = #{param.memberId}
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        order by t.id desc
    </select>

    <select id="getDetail" resultType="com.eghm.vo.business.order.line.LineOrderDetailVO">
        select
        t.order_no,
        r.cover_url,
        r.title,
        r.verify_no,
        t.duration,
        r.pay_type,
        r.refund_type,
        r.refund_state,
        r.price,
        r.discount_amount,
        r.num,
        r.state,
        r.pay_amount,
        r.create_time,
        r.pay_time,
        r.mobile,
        r.nick_name,
        r.complete_time,
        t.visit_date,
        t.duration,
        r.remark
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        where t.deleted = false and r.member_id = #{memberId} and r.order_no = #{orderNo}
    </select>

    <select id="detail" resultType="com.eghm.vo.business.order.line.LineOrderDetailResponse">
        select
            t.order_no,
            r.cover_url,
            r.title,
            r.verify_no,
            t.duration,
            r.pay_type,
            r.refund_type,
            r.refund_state,
            r.price,
            t.start_province_id,
            t.start_city_id,
            r.discount_amount,
            r.num,
            r.state,
            r.pay_amount,
            r.create_time,
            r.pay_time,
            r.mobile,
            r.nick_name,
            r.complete_time,
            t.visit_date,
            t.duration,
            r.remark
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        where t.deleted = false and r.order_no = #{orderNo}
        <if test="merchantId != null">
            and r.merchant_id = #{merchantId}
        </if>
    </select>

    <select id="snapshotDetail" resultType="com.eghm.vo.business.order.line.LineOrderSnapshotDetailVO">
        select
            r.cover_url,
            r.title,
            t.travel_agency_id,
            r.logo_url as travelLogoUrl,
            r.title as travelName,
            t.start_province_id,
            t.start_city_id,
            t.duration,
            t.line_price,
            t.sale_price,
            t.introduce
        from line_order t
        left join travel_agency r on r.id = t.travel_agency_id
        where t.deleted = false and t.order_no = #{orderNo}
        <if test="merchantId != null">
            and t.member_id = #{merchantId}
        </if>
    </select>
</mapper>
