<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LineOrderMapper">

    <select id="listPage" parameterType="com.eghm.dto.business.order.line.LineOrderQueryRequest" resultType="com.eghm.vo.business.order.line.LineOrderResponse">
        select
        t.order_no as orderNo,
        r.cover_url as coverUrl,
        r.title,
        m.title as travelName,
        t.travel_agency_id as travelAgencyId,
        r.pay_type as payType,
        r.num,
        r.state,
        r.pay_amount as payAmount
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        left join travel_agency m on t.travel_agency_id = m.id
        where t.deleted = false
        <if test="param.merchantId != null">
            and r.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        <if test="param.isVoucher != null">
            <if test="param.isVoucher">
                and r.coupon_id is not null
            </if>
            <if test="!param.isVoucher">
                and r.coupon_id is null
            </if>
        </if>
        <if test="param.startDate != null and param.endDate != null">
            and r.pay_time between #{param.startDate} and #{param.endDate}
        </if>
        order by t.id desc
    </select>

    <select id="getSnapshot" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            t.title as productTitle,
            t.cover_url as productCover,
            t.store_id as storeId,
            r.line_id as productId
        from line_order r inner join `order` t on t.order_no = r.order_no
        where t.id = #{orderId} and r.order_no = #{orderNo} and t.deleted = false
    </select>

    <select id="getList" parameterType="com.eghm.dto.business.order.line.LineOrderQueryDTO" resultType="com.eghm.vo.business.order.line.LineOrderVO">
        select
        t.order_no as orderNo,
        r.cover_url as coverUrl,
        r.title,
        m.title as travelName,
        t.travel_agency_id as travelAgencyId,
        r.pay_type as payType,
        r.num,
        r.state,
        r.pay_amount as payAmount
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        left join travel_agency m on t.travel_agency_id = m.id
        where t.deleted = false and r.member_id = #{param.memberId}
        <if test="param.queryName != null and param.queryName != ''">
            and r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        order by t.id desc
    </select>

    <select id="getDetail" resultType="com.eghm.vo.business.order.line.LineOrderDetailVO">
        select
        t.order_no as orderNo,
        r.cover_url as coverUrl,
        r.title,
        r.verify_no as verifyNo,
        t.duration,
        r.pay_type as payType,
        r.refund_type as refundType,
        r.refund_state as refundState,
        r.price,
        r.discount_amount as discountAmount,
        r.num,
        r.state,
        r.pay_amount as payAmount,
        r.create_time as createTime,
        r.pay_time as payTime,
        t.mobile,
        t.nick_name as nickName,
        r.complete_time as completeTime,
        t.visit_date as visitDate,
        t.duration,
        r.remark
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        where t.deleted = false and r.member_id = #{memberId} and r.order_no = #{orderNo}
    </select>

    <select id="detail" resultType="com.eghm.vo.business.order.line.LineOrderDetailResponse">
        select
            t.order_no as orderNo,
            r.cover_url as coverUrl,
            r.title,
            r.verify_no as verifyNo,
            t.duration,
            r.pay_type as payType,
            r.refund_type as refundType,
            r.refund_state as refundState,
            r.price,
            r.discount_amount as discountAmount,
            r.num,
            r.state,
            r.pay_amount as payAmount,
            r.create_time as createTime,
            r.pay_time as payTime,
            t.mobile,
            t.nick_name as nickName,
            r.complete_time as completeTime,
            t.visit_date as visitDate,
            t.duration,
            r.remark
        from `order` r
        inner join line_order t on t.order_no = r.order_no
        where t.deleted = false and r.member_id = #{memberId} and r.order_no = #{orderNo}
    </select>

</mapper>
