<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LoginDeviceMapper">

    <insert id="insertOrUpdateSelective" parameterType="com.eghm.model.LoginDevice">
        insert into login_device(member_id, serial_number, device_model, login_time, ip)
        values (#{memberId}, #{serialNumber}, #{deviceModel}, now(), #{ip}) on duplicate key
        update login_time = now(), ip = #{ip}
    </insert>

    <select id="getBySerialNumber" resultType="com.eghm.model.LoginDevice">
        select
        id, member_id, serial_number, device_model, login_time,ip
        from login_device where member_id = #{memberId} and serial_number = #{serialNumber} order by id desc limit 1
    </select>

    <delete id="deleteLoginDevice">
        delete from login_device where member_id = #{memberId} and id = #{id}
    </delete>

</mapper>