<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LotteryMapper">

    <select id="getByPage" parameterType="com.eghm.dto.business.lottery.LotteryQueryRequest" resultType="com.eghm.vo.business.lottery.LotteryResponse">
        select
            id,
            title,
            start_time,
            end_time,
            state,
            lottery_day,
            lottery_total,
            win_num
        from lottery where deleted = false and merchant_id = #{param.merchantId}
        <if test="param.queryName != null and param.queryName != ''">
            and title concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.state != null">
            and state = #{param.state}
        </if>
        order by state asc, id desc
    </select>

    <select id="getList" resultType="com.eghm.vo.business.lottery.LotteryVO">
        select
            id,
            title,
            banner_url
        from lottery
        where deleted = false and merchant_id = #{merchantId}
        and now() &lt; end_time
        <if test="storeId != null">
            and store_id = #{storeId}
        </if>
        order by state desc
    </select>
</mapper>
