<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.LotteryPrizeMapper">

    <update id="accumulationLotteryNum">
        update lottery_prize set win_num = win_num + 1 where id = #{id} and (win_num + 1) &lt;= total_num
    </update>

    <select id="getPrizeList" resultType="com.eghm.vo.business.lottery.LotteryPrizeVO">
        select
            r.prize_name as prizeName,
            r.cover_url as coverUrl,
            r.prize_type as prizeType,
            t.location
        from lottery_config t left join lottery_prize r on t.prize_id = r.id
        where t.lottery_id = #{lotteryId}
    </select>

</mapper>
