<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ManageLogMapper">

    <select id="getByPage" parameterType="com.eghm.dto.log.ManageQueryRequest" resultType="com.eghm.vo.log.ManageLogResponse">
        select id, url, user_name, request, ip, business_time, create_time
        from manage_log
        <where>
            <if test="param.queryName != null and param.queryName != ''">
                and (url like concat('%',#{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler },'%') or
                user_name like concat('%',#{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler},'%') or
                ip like concat('%',#{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler},'%') )
            </if>
            <if test="param.startTime != null">
                and create_time &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                and create_time &lt; #{param.endTime}
            </if>
        </where>
        order by id desc
    </select>

    <select id="getResponseById" resultType="string">
        select
            response
        from manage_log where id = #{id}
    </select>

</mapper>