<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberInviteLogMapper">

    <select id="getByPage" resultType="com.eghm.vo.member.MemberInviteVO">
        select
        r.nick_name,
        r.avatar,
        r.mobile,
        t.create_time
        from member_invite_log t
        left join member r on t.invite_member_id = r.id
        where t.member_id = #{memberId}
        order by t.id desc
    </select>

</mapper>