<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberCollectMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.collect.MemberCollectVO">
        select
        collect_id,
        collect_type
        from member_collect where member_id = #{param.memberId} and deleted = false and state = 1
        <choose>
            <when test="param.type != null and param.type == 1">
                and collect_type in (1, 4, 5, 7)
            </when>
            <otherwise>
                and collect_type in (2, 3, 6, 8)
            </otherwise>
        </choose>
        order by id desc
    </select>

    <select id="dayCollect" resultType="com.eghm.vo.business.statistics.CollectStatisticsVO" parameterType="com.eghm.dto.statistics.CollectRequest">
        SELECT
        <choose>
            <when test="selectType == @com.eghm.enums.SelectType@YEAR">
                create_month,
            </when>
            <otherwise>
                create_date,
            </otherwise>
        </choose>
        COUNT(id) AS collectNum
        FROM
        member_collect
        WHERE state = 1 and create_time &gt;= #{startDate} and create_time &lt; #{endDate} and deleted = false
        <if test="collectType != null">
            and collect_type = #{collectType}
        </if>
        <choose>
            <when test="selectType == @com.eghm.enums.SelectType@YEAR">
                group by create_month
            </when>
            <otherwise>
                group by create_date
            </otherwise>
        </choose>
    </select>
</mapper>
