<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberCouponMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.coupon.MemberCouponResponse" parameterType="com.eghm.dto.business.coupon.member.MemberCouponQueryRequest">
        select
        t.id,
        t.state,
        t.receive_time,
        t.use_time,
        r.nick_name,
        r.mobile
        from member_coupon t
        left join `member` r on t.member_id = r.id
        where t.deleted = false
        <if test="param.couponId != null">
            and t.coupon_id = #{param.couponId}
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and (r.nick_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%') or r.mobile like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') )
        </if>
        order by t.id desc
    </select>

    <select id="memberCouponPage" resultType="com.eghm.vo.business.coupon.MemberCouponVO" parameterType="com.eghm.dto.business.coupon.member.MemberCouponQueryPageDTO">
        select
        t.id,
        t.state,
        r.title,
        r.coupon_type,
        r.deduction_value,
        r.discount_value,
        r.use_threshold,
        r.use_start_time,
        r.use_end_time,
        r.instruction
        from member_coupon t
        left join coupon r on t.coupon_id = r.id
        where t.deleted = false and t.member_id = #{param.memberId}
        <if test="param.state != null" >
            and t.state = #{param.state}
        </if>
        order by t.id desc
    </select>

    <select id="selectCoupon" resultType="com.eghm.vo.business.coupon.MemberCouponBaseVO">
        select
        t.id,
        r.title,
        r.coupon_type,
        r.deduction_value,
        r.discount_value,
        r.use_threshold
        from member_coupon t
        left join coupon r on r.id = t.coupon_id
        inner join coupon_scope s on t.coupon_id = s.coupon_id
        where
        t.deleted = false and t.state = 0 and t.member_id = #{memberId} and s.product_id = #{productId}
        and r.use_start_time &lt;= now() and r.use_end_time &lt;= now()
        order by t.id desc
    </select>

    <select id="countMemberReceived" resultType="com.eghm.vo.business.coupon.MemberCouponCountVO">
        select
        count(id) as num,
        coupon_id as couponId
        from member_coupon where member_id = #{memberId} and deleted = false and coupon_id in
        <foreach collection="couponIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        group by coupon_id
    </select>
</mapper>
