<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberAddressMapper">
    <resultMap id="BaseResultMap" type="com.eghm.model.MemberAddress">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="province_id" jdbcType="BIGINT" property="provinceId"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="county_id" jdbcType="BIGINT" property="countyId"/>
        <result column="county_name" jdbcType="VARCHAR" property="countyName"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getByMemberId" resultMap="BaseResultMap">
        select
        id, member_id, state, province_id, province_name, city_id, city_name, county_id, county_name, detail_address
        from member_address where member_id = #{memberId} and deleted = false order by state, update_time desc
    </select>

    <update id="updateState">
        update member_address
        set state = #{state}
        where member_id = #{memberId}
    </update>

    <update id="updateByMemberId" parameterType="com.eghm.model.MemberAddress">
        update member_address
        <set>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=BIGINT},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="countyId != null">
                county_id = #{countyId,jdbcType=BIGINT},
            </if>
            <if test="countyName != null">
                county_name = #{countyName,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id} and member_id = #{memberId}
    </update>

</mapper>