<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberMapper">

    <select id="listPage" resultType="com.eghm.vo.member.MemberResponse" parameterType="com.eghm.dto.member.MemberQueryRequest">
        select
        t.id,
        t.nick_name,
        t.mobile,
        t.email,
        t.state,
        t.score,
        t.invite_code,
        t.real_name,
        t.birthday,
        t.sex,
        t.channel,
        t.avatar,
        t.create_time
        from `member` t where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (
                t.nick_name like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') or
                t.mobile like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
            )
        </if>
        <if test="param.mobile != null and param.mobile != '' ">
            and exists (select 1 from member_invite_log s, `member` m where m.id = s.member_id  and  s.invite_member_id = t.id and m.mobile = #{param.mobile})
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.sex!= null">
            and t.sex = #{param.sex}
        </if>
        <if test="param.channel != null and param.channel != ''">
            and t.channel = #{param.channel}
        </if>
        <if test="param.startDate != null ">
            and t.create_date &gt;= #{param.startDate}
        </if>
        <if test="param.endDate != null ">
            and t.create_date &lt; #{param.endDate}
        </if>
        order by t.id desc
    </select>

    <select id="registerStatistics" resultType="integer">
        select
            count(id)
        from `member` where deleted = false and create_time &gt; #{startDate} and create_time &lt;= #{endDate}
    </select>

    <select id="dayRegister" resultType="com.eghm.vo.business.statistics.MemberRegisterVO">
        select
            create_date,
            count(id) as registerNum
        from `member` where deleted = false and create_time &gt;= #{startDate} and create_time &lt; #{endDate}
        group by create_date
    </select>

    <update id="updateScore">
        update `member` set score = score + #{score} where id = #{memberId} and score + #{score} &gt; 0
    </update>

    <select id="getMemberIds" resultType="java.lang.Long" parameterType="com.eghm.model.MemberTag">
        select id from `member` where deleted = false
        <if test="channel != null">
            and channel = #{channel}
        </if>
        <if test="sex != null">
            and sex = #{sex}
        </if>
        <if test="startDate != null ">
            and create_date &gt;= #{startDate}
        </if>
        <if test="endDate != null ">
            and create_date &lt;= #{endDate}
        </if>
    </select>

    <select id="getMobile" resultType="java.lang.String">
        select distinct mobile from `member` where deleted = false and id in
        <foreach collection="memberIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>