<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberVisitLogMapper">

    <select id="dayVisit" resultType="com.eghm.vo.business.statistics.MemberVisitVO" parameterType="com.eghm.dto.statistics.VisitRequest">
        SELECT
            <choose>
                <when test="selectType == @com.eghm.enums.SelectType@YEAR">
                    create_month,
                </when>
                <otherwise>
                    create_date,
                </otherwise>
            </choose>
            COUNT(id) AS visitNum
        FROM
            member_visit_log
        WHERE create_time &gt;= #{startDate} and create_time &lt; #{endDate}
        <if test="visitType != null">
            and visit_type = #{visitType}
        </if>
        <choose>
            <when test="selectType == @com.eghm.enums.SelectType@YEAR">
                group by create_month
            </when>
            <otherwise>
                group by create_date
            </otherwise>
        </choose>
    </select>
</mapper>
