<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MemberTagScopeMapper">

    <select id="getByPage" parameterType="com.eghm.dto.member.tag.TagMemberQueryRequest" resultType="com.eghm.vo.member.MemberResponse">
        select
        t.id,
        t.nick_name,
        t.mobile,
        t.email,
        t.state,
        t.score,
        t.invite_code,
        t.real_name,
        t.birthday,
        t.sex,
        t.channel,
        t.avatar,
        t.create_time
        from member t inner join member_tag_scope s on t.id = s.member_id
        where t.deleted = false and s.tag_id = #{param.tagId}
        <if test="param.queryName != null and param.queryName != ''">
            and (t.nick_name like concat('%', #{param.queryName}, '%') or
                 t.mobile like concat('%', #{param.queryName}, '%'))
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.sex!= null">
            and t.sex = #{param.sex}
        </if>
        <if test="param.channel != null and param.channel != ''">
            and t.channel = #{param.channel}
        </if>
        <if test="param.startDate != null ">
            and t.create_date &gt;= #{param.startDate}
        </if>
        <if test="param.endDate != null ">
            and t.create_date &lt; #{param.endDate}
        </if>
        order by t.id desc
    </select>

</mapper>
