<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MerchantAddressMapper">

    <select id="getStoreAddress" resultType="com.eghm.model.MerchantAddress">
        select
            t.id,
            t.nick_name,
            t.mobile,
            t.province_id,
            t.city_id,
            t.county_id,
            t.detail_address
        from merchant_address t inner join item_store r on t.id = r.depot_address_id
        where r.id = #{orderId} and t.deleted = false
    </select>
</mapper>
