<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MerchantMapper">

    <select id="listPage" resultType="com.eghm.vo.business.merchant.MerchantResponse" parameterType="com.eghm.dto.business.merchant.MerchantQueryRequest">
        select
        merchant_name,
        type,
        nick_name,
        mobile,
        create_time
        from merchant where deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and merchant_name like concat('%', #{param.queryName}, '%')
        </if>
        <if test="param.type != null">
            and type = #{param.type}
        </if>
        order by id desc
    </select>

    <select id="getByUserId" resultType="long">
        select id from merchant where user_id = #{userId} and deleted = false
    </select>
</mapper>
