<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MerchantMapper">

    <select id="listPage" resultType="com.eghm.vo.business.merchant.MerchantResponse" parameterType="com.eghm.dto.business.merchant.MerchantQueryRequest">
        select
        t.id,
        t.merchant_name,
        t.type,
        r.state,
        t.mobile,
        t.auth_mobile,
        t.enterprise_type,
        t.legal_name,
        t.platform_service_rate,
        t.legal_id_card,
        t.credit_code,
        t.create_time
        from merchant t left join sys_user r on t.user_id = r.id
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (
            t.merchant_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            t.mobile like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            t.auth_mobile like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            t.legal_id_card like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
            )
        </if>
        <if test="param.enterpriseType != null">
            and t.enterprise_type = #{param.enterpriseType}
        </if>
        <if test="param.state != null">
            and r.state = #{param.state}
        </if>
        <if test="param.type != null">
            and t.type = #{param.type}
        </if>
        order by t.id desc
    </select>

    <select id="getByUserId" resultType="long">
        select id from merchant where user_id = #{userId} and deleted = false
    </select>
    
    <select id="getList" resultType="com.eghm.vo.business.merchant.BaseMerchantResponse">
        select id, merchant_name from merchant where deleted = false order by id desc
    </select>
</mapper>
