<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MybatisMapper">
  <resultMap id="SysConfigResultMap" type="com.eghm.model.SysConfig">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

    <select id="getById" resultType="com.eghm.model.SysConfig">
        select * from sys_config where id = #{id}
    </select>

    <resultMap id="MenuResultMap" type="com.eghm.model.SysMenu">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="sub_path" jdbcType="VARCHAR" property="subPath" />
        <result column="grade" jdbcType="TINYINT" property="grade" />
        <result column="sort" jdbcType="BIGINT" property="sort" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>


    <update id="updateState">
        update sys_config set content = concat(content, '++') where nid = 'application_name'
    </update>

    <update id="updateState2">
        update sys_config set content = concat(content, '++++') where nid = 'application_name'
    </update>

</mapper>