<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.MybatisSourceMapper">
  <resultMap id="SysConfigResultMap" type="com.eghm.model.SysConfig">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

    <select id="getById" resultType="com.eghm.model.SysConfig">
        select * from sys_config where id = #{id}
    </select>

    <resultMap id="MenuResultMap" type="com.eghm.model.SysMenu">
        <!--
          @create by mybatis
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="sub_path" jdbcType="VARCHAR" property="subPath" />
        <result column="grade" jdbcType="TINYINT" property="grade" />
        <result column="sort" jdbcType="BIGINT" property="sort" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <resultMap id="BaseResultMap" type="com.eghm.model.MybatisRoleMenu">
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <association property="menuList" column="menu_id"  select="getMenuById" fetchType="lazy"/>
    </resultMap>

    <select id="getByRoleId" resultMap="BaseResultMap">
        select t.role_id, t.menu_id from sys_role_menu t where t.id = #{id}
    </select>

    <resultMap id="SuperResultMap" type="com.eghm.model.MybatisSuper">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <discriminator javaType="string" column="role_type" >
            <case value="administrator" resultMap="ChildResultMap"/>
            <case value="admin" resultMap="Child2ResultMap"/>
        </discriminator>
    </resultMap>
    <resultMap id="ChildResultMap" type="com.eghm.model.MybatisChild" >
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    </resultMap>
    <resultMap id="Child2ResultMap" type="com.eghm.model.MybatisChild2" >
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <select id="getDiscriminator" resultMap="SuperResultMap">
        select * from sys_role where id = #{id}
    </select>

</mapper>