<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.NewsMapper">

    <select id="listPage" resultType="com.eghm.vo.business.news.NewsResponse" parameterType="com.eghm.dto.business.news.NewsQueryRequest">
        select
            id,
            title,
            depict,
            image,
            sort,
            comment_support,
            like_num,
            create_time,
            update_time
        from news where deleted = false and code = #{param.code}
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        order by sort, id desc
    </select>

    <select id="getByPage" resultType="com.eghm.vo.business.news.NewsVO">
        select 
           id,
           title,
           depict,
           image,
           like_num,
           update_time
        from news where deleted = false
        <if test="queryName != null and queryName != ''">
            and title like concat('%', #{queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        order by sort, id desc
    </select>

    <update id="updateLikeNum">
        update news set like_num = like_num + #{likeNum} where id = #{id}
    </update>

    <select id="getList" resultType="com.eghm.vo.business.news.NewsVO">
        select
            id,
            title,
            depict,
            image,
            state,
            deleted
        from news where id in
        <foreach collection="newsIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>   
