<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.NewsConfigMapper">

    <select id="getList" resultType="com.eghm.vo.business.news.NewsConfigResponse">
        select code,
               include_title,
               include_depict,
               include_image,
               include_content,
               include_video,
               title
        from news_config
        where deleted = false
    </select>

</mapper>
