<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.OrderMapper">

    <select id="getItemList" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
        r.id as orderId,
        t.member_id,
        t.order_no,
        t.store_id,
        r.item_id as productId,
        t.title as productTitle,
        r.sku_title,
        t.cover_url as productCover,
        t.product_type
        from `order` t left join item_order r on t.order_no = r.order_no
        where t.deleted = false and t.order_no = #{orderNo} and t.state = 7
    </select>

    <select id="getRestaurantList" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            r.id as orderId,
            t.member_id,
            t.store_id,
            t.order_no,
            r.voucher_id as productId,
            t.title as productTitle,
            t.cover_url as productCover,
            t.product_type
        from `order` t left join voucher_order r on t.order_no = r.order_no
        where t.deleted = false and t.order_no = #{orderNo} and t.state = 7
    </select>

    <select id="getTicketList" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            r.id as orderId,
            t.member_id,
            t.store_id,
            t.order_no,
            r.ticket_id as productId,
            t.title as productTitle,
            t.cover_url as productCover,
            t.product_type
        from `order` t left join ticket_order r on t.order_no = r.order_no
        where t.deleted = false and t.order_no = #{orderNo} and t.state = 7
    </select>

    <select id="getLineList" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            r.id as orderId,
            t.member_id,
            t.store_id,
            t.order_no,
            r.line_id as productId,
            t.title as productTitle,
            t.cover_url as productCover,
            t.product_type
        from `order` t left join line_order r on t.order_no = r.order_no
        where t.deleted = false and t.order_no = #{orderNo} and t.state = 7
    </select>

    <select id="getHomestayList" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
            r.id as orderId,
            t.member_id,
            t.store_id,
            t.order_no,
            r.line_id as productId,
            t.title as productTitle,
            t.cover_url as productCover,
            t.product_type
        from `order` t left join line_order r on t.order_no = r.order_no
        where t.deleted = false and t.order_no = #{orderNo} and t.state = 7
    </select>

</mapper>
