<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.OrderRefundLogMapper">

    <select id="getTotalRefundNum" resultType="int">
        select ifnull(sum(num), 0) from order_refund_log where deleted = false and order_no = #{orderNo} and `state` in (0, 1)
        <if test="productOrderId != null">
            item_order_id = #{itemOrderId}
        </if>
    </select>

    <select id="getRefundSuccessNum" resultType="int">
        select ifnull(sum(num), 0) from order_refund_log where deleted = false and order_no = #{orderNo} and `state` = 1
        <if test="productOrderId != null">
            item_order_id = #{itemOrderId}
        </if>
    </select>
    
    <select id="getRefundProcess" resultType="com.eghm.dto.ext.OrderRefund">
        select
             t.refund_no,
             r.trade_no,
             r.order_no
        from order_refund_log t
        inner join `order` r on t.order_no = r.order_no
        where t.deleted = false and t.state = 0
    </select>

    <select id="getByPage" resultType="com.eghm.vo.business.order.refund.RefundLogResponse" parameterType="com.eghm.dto.business.order.refund.RefundLogQueryRequest">
        select
            t.id,
            r.title,
            r.cover_url,
            t.order_no,
            t.num,
            t.refund_amount,
            t.express_fee,
            t.reason,
            t.state,
            t.audit_state,
            t.apply_time
        from order_refund_log t
        inner join `order` r on t.order_no = r.order_no
        where t.deleted = false and r.deleted = false
        <if test="param.prefix != null and param.prefix != ''">
            and t.order_no like concat(#{param.prefix, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and (t.order_no like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
                 r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%'))
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.auditState != null">
            and t.audit_state = #{param.auditState}
        </if>
        <if test="param.startTime != null">
            and t.apply_time &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            and t.apply_time &lt;= #{param.endTime}
        </if>
        order by t.id desc
    </select>

    <select id="getRefundSuccess" resultType="int">
        select count(t.id)
        from order_visitor_refund t
        inner join order_refund_log r on t.refund_id = r.id
        where r.deleted = false and t.order_no = #{orderNo} and r.audit_state = 1 and state in (0, 1)
        and t.visitor_id in
        <foreach collection="visitorList" separator="," open="(" item="item" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getItemRefundLog" resultType="com.eghm.vo.business.order.item.ItemRefundResponse">
        select
            t.id,
            r.title,
            r.cover_url,
            t.order_no,
            t.num,
            t.apply_amount,
            t.express_fee,
            t.refund_amount,
            t.reason,
            t.state,
            t.audit_state,
            t.audit_time,
            t.audit_remark,
            t.apply_time,
            t.express_code,
            t.express_no,
            m.nick_name as auditName
        from order_refund_log t
        left join item_order r on t.item_order_id = r.id
        left join sys_user m on t.audit_user_id = m.id
        where t.order_no = #{orderNo} order by t.id desc
    </select>

    <select id="getVisitRefundLog" resultType="com.eghm.model.OrderRefundLog">
        select
            t.id,
            t.order_no,
            t.num,
            t.apply_amount,
            t.express_fee,
            t.refund_amount,
            t.reason,
            t.state,
            t.audit_state,
            t.audit_time,
            t.audit_remark,
            t.apply_time,
            t.express_code,
            t.express_no,
            t.create_time,
            t.update_time
        from order_refund_log t left join order_visitor_refund r on t.id = r.refund_id
        where t.order_no = #{orderNo} and t.deleted = false and r.visitor_id = #{visitorId}
    </select>

</mapper>
