<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.PayRequestLogMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.log.PayRequestLogResponse" parameterType="com.eghm.dto.business.order.log.PayLogQueryRequest">
        select
        id,
        pay_channel,
        order_no,
        step_type ,
        trade_no,
        refund_no,
        request_body,
        response_body,
        create_time
        from pay_request_log where deleted = false
        <if test="param.payChannel != null">
            and pay_channel = #{param.payChannel}
        </if>
        <if test="param.stepType != null">
            and step_type = #{param.stepType}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and (order_no like concat('%',#{param.queryName, typeHandler=LikeTypeHandler},'%') or
                 trade_no like concat('%',#{param.queryName, typeHandler=LikeTypeHandler},'%') or
                 refund_no like concat('%',#{param.queryName, typeHandler=LikeTypeHandler},'%'))
        </if>
        order by id desc
    </select>
</mapper>
