<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.PoiLineMapper">

    <select id="getByPage" resultType="com.eghm.vo.poi.PoiLineResponse" parameterType="com.eghm.dto.poi.PoiLineQueryRequest">
        select
        t.id,
        t.title,
        t.state,
        t.cover_url,
        t.area_code,
        t.play_time,
        r.title as areaTitle,
        t.create_time,
        t.update_time
        from poi_line t left join poi_area r on t.area_code = r.code
        where t.deleted = false and r.deleted = false
        <if test="param.areaCode != null">
            and t.area_code = #{param.areaCode}
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != '' ">
            and t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        order by id desc
    </select>

    <select id="getList" resultMap="lineResultMap" >
        select
        t.id,
        t.title,
        t.cover_url,
        t.play_time,
        p.id as pointId,
        p.cover_url,
        p.title as pointTitle,
        p.longitude,
        p.latitude,
        t.introduce,
        p.introduce as pointIntroduce,
        p.detail_address
        from poi_line t
        inner join poi_line_point r on t.id = r.line_id
        inner join poi_point p on r.point_id = p.id
        where t.deleted = false and r.deleted = false and t.area_code = #{areaCode}
        order by t.id desc, r.sort
    </select>

    <resultMap id="lineResultMap" type="com.eghm.vo.poi.PoiLineVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="playTime" column="play_time"/>
        <result property="introduce" column="introduce"/>

        <collection property="pointList" ofType="com.eghm.vo.poi.PoiPointVO">
            <id property="id" column="pointId"/>
            <result property="coverUrl" column="cover_url"/>
            <result property="title" column="pointTitle"/>
            <result property="longitude" column="longitude"/>
            <result property="latitude" column="latitude"/>
            <result property="introduce" column="pointIntroduce"/>
            <result property="detailAddress" column="detail_address"/>
        </collection>
    </resultMap>

</mapper>
