<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.PoiTypeMapper">

    <select id="getByPage" resultType="com.eghm.vo.poi.PoiTypeResponse" parameterType="com.eghm.dto.poi.PoiTypeQueryRequest">
        select
        t.id,
        t.title,
        t.icon,
        t.sort,
        t.area_code,
        r.title as areaTitle,
        t.create_time,
        t.update_time
        from poi_type t left join poi_area r on t.area_code = r.code
        where t.deleted = false and r.deleted = false
        <if test="param.areaCode != null and param.areaCode != ''">
            and t.area_code = #{param.areaCode}
        </if>
        <if test="param.queryName != null and param.queryName != '' ">
            and t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        order by sort, id desc
    </select>

    <select id="getList" resultType="com.eghm.vo.poi.PoiTypeResponse">
        select
        id,
        icon,
        title
        from poi_type where deleted = false and area_code = #{areaCode} order by sort, id desc
    </select>

</mapper>
