<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.RedeemCodeScopeMapper">

    <select id="getScopeList" resultType="com.eghm.dto.ext.StoreScope">
        select
        product_type as productType,
        store_id as storeId
        from redeem_code_scope where redeem_code_id = #{redeemCodeId}
    </select>

</mapper>
