<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.RedeemCodeGrantMapper">

    <select id="listPage" resultType="com.eghm.vo.business.redeem.RedeemCodeGrantResponse" parameterType="com.eghm.dto.business.redeem.RedeemCodeGrantQueryRequest">
        select
        t.cd_key,
        t.create_time,
        t.state,
        t.use_time,
        r.nick_name,
        r.mobile
        from redeem_code_grant t
        left join `member` r on t.member_id = r.id
        where t.redeem_code_id = #{param.redeemCodeId}
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and r.mobile like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
        </if>
        order by t.id desc
    </select>

</mapper>
