<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.RestaurantMapper">

    <select id="listPage" resultType="com.eghm.vo.business.restaurant.RestaurantResponse" parameterType="com.eghm.dto.business.restaurant.RestaurantQueryRequest">
        select
        t.id,
        t.logo_url,
        r.merchant_name,
        t.title,
        t.state,
        t.open_time,
        t.detail_address,
        t.phone,
        t.create_time,
        t.update_time
        from restaurant t
        left join merchant r on t.merchant_id = r.id
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        order by t.id desc
    </select>

    <select id="getByPage" resultType="com.eghm.vo.business.restaurant.RestaurantVO"
            parameterType="com.eghm.dto.business.restaurant.RestaurantQueryDTO">
        <choose>
            <when test="param.sortByDistance">
                <include refid="getByPageSortDistanceSql"/>
            </when>
            <otherwise>
                <include refid="getByPageSql"/>
            </otherwise>
        </choose>
    </select>

    <select id="getBaseList" resultType="com.eghm.vo.business.restaurant.BaseRestaurantResponse">
        select
        id,
        title,
        state
        from restaurant where deleted = false
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        order by id desc
    </select>

    <!--无距离排序,不进行子查询-->
    <sql id="getByPageSql">
        select
        id,
        title,
        longitude,
        latitude,
        open_time,
        <if test="param.longitude != null and param.latitude != null">
            st_distance_sphere(point(longitude, latitude), point(#{param.longitude}, #{param.latitude})) as distance,
        </if>
        cover_url,
        logo_url,
        phone
        from restaurant where state = 1 and deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        order by id desc
    </sql>
    <!--有距离排序-->
    <sql id="getByPageSortDistanceSql">
        select s.* from ( select
        id,
        title,
        longitude,
        latitude,
        open_time,
        st_distance_sphere(point(longitude, latitude),point(#{param.longitude}, #{param.latitude})) as distance,
        cover_url,
        logo_url,
        phone
        from restaurant where state = 1 and deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        ) s
        order by s.distance, s.id desc
    </sql>
    <update id="updateScore">
        update restaurant set score = #{score} where id = #{id}
    </update>

    <select id="getList" resultType="com.eghm.vo.business.restaurant.RestaurantVO">
        select
        id,
        title,
        open_time,
        cover_url,
        logo_url,
        state
        from restaurant where id in
        <foreach collection="restaurantIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getStorePage" parameterType="com.eghm.dto.business.base.BaseStoreQueryRequest" resultType="com.eghm.vo.business.base.BaseStoreResponse">
        select
        t.id as storeId,
        t.title as storeName,
        t.state,
        t.cover_url as coverUrl,
        'voucher' as productType,
        r.merchant_name
        from restaurant t left join merchant r on t.merchant_id = r.id where t.deleted = false
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and ( t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            r.merchant_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') )
        </if>
        order by t.id desc
    </select>

    <select id="getStoreList" resultType="com.eghm.vo.business.base.BaseStoreResponse">
        select
        t.id as storeId,
        t.title as storeName,
        t.state,
        t.cover_url as coverUrl,
        'voucher' as productType,
        r.merchant_name
        from restaurant t left join merchant r on t.merchant_id = r.id
        where t.deleted = false and t.id in
        <foreach collection="restaurantIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
