<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ScenicMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.scenic.ScenicListVO" parameterType="com.eghm.dto.business.scenic.ScenicQueryDTO">
        select
        id,
        scenic_name,
        cover_url,
        depict,
        longitude,
        latitude,
        `level`,
        min_price
        from scenic where deleted = false and state = 1
        <if test="param.queryName != null and param.queryName != '' ">
            and scenic_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
        </if>
        order by sort
    </select>

</mapper>
