<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.ShoppingCartMapper">

    <select id="getList" resultType="com.eghm.vo.business.shopping.ShoppingCartItemVO">
        select
        t.id,
        t.store_id,
        m.title as storeTitle,
        r.cover_url,
        r.title,
        t.quantity,
        ps.sale_price,
        t.sale_price as rawSalePrice,
        r.quota,
        if(second_spec_value is null, concat(ps.primary_spec_value, '-', ps.second_spec_value), ps.primary_spec_value) as skuName,
        ps.stock,
        ps.deleted as skuState,
        r.state as productState
        from shopping_cart t
        left join item_store m on t.store_id = m.id
        left join item r on t.item_id = r.id
        left join item_sku ps on t.sku_id = ps.id
        where t.deleted = false and t.member_id = #{memberId} order by t.id desc
    </select>

</mapper>
