<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.SysMenuMapper">
    <select id="getMenuList" resultType="com.eghm.vo.menu.MenuResponse">
        SELECT
        t.id, t.title, t.code, t.pid, t.path, t.sort, t.grade
        from sys_menu t
        where t.state = true and exists (
        select 1 from sys_role_menu s, sys_user_role o
        where s.role_id = o.role_id and t.id = s.menu_id and o.user_id = #{userId})
        <if test="grade != null">
            and t.grade = #{grade}
        </if>
    </select>

    <select id="getAdminMenuList" resultType="com.eghm.vo.menu.MenuResponse">
        SELECT
        t.id, t.title, t.code, t.pid, t.path, t.sort, t.grade
        from sys_menu t where t.state = true and (t.display_state &amp; 2) = 2
        <if test="grade != null">
            and t.grade = #{grade}
        </if>
    </select>

    <select id="getMerchantMenuList" resultType="com.eghm.vo.menu.MenuResponse">
        SELECT
        t.id, t.title, t.code, t.pid, t.path, t.sort, t.grade
        from sys_menu t where t.state = true and (t.display_state &amp; 1) = 1
        <if test="grade != null">
            and t.grade = #{grade}
        </if>
    </select>

    <select id="getList" resultType="com.eghm.vo.menu.MenuResponse">
        SELECT
        t.id, t.title, t.code, t.pid, t.path, t.sub_path, t.sort, t.grade
        from sys_menu t where t.state = true
    </select>

    <select id="getMaxId" resultType="string">
        select id from sys_menu where pid = #{pid} and state = true order by id desc limit 1
    </select>

</mapper>