<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.SysRoleMapper">
    <select id="getRoleList" resultType="com.eghm.model.SysRole">
        select t.id, t.role_name, t.role_type, t.remark
        from sys_role t
        left join sys_user_role r on t.id = r.role_id
        where r.user_id = #{userId}
          and t.deleted = false order by r.id desc
    </select>

    <select id="getRoleMenu" resultType="string">
        select menu_id
        from sys_role_menu
        where role_id = #{roleId}
    </select>

    <delete id="deleteRoleMenu">
        delete
        from sys_role_menu
        where role_id = #{roleId}
    </delete>

    <insert id="batchInsertRoleMenu">
        insert into sys_role_menu (role_id,menu_id) values
        <foreach collection="menuIdList" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>

    <select id="countByRoleType" resultType="int">
        select count(t.id)
        from sys_role t
        left join sys_user_role r on t.id = r.role_id
        where r.user_id = #{userId}
          and t.deleted = false and t.role_type = #{roleType}
    </select>
</mapper>