<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.SysUserMapper">

    <select id="listPage" resultType="com.eghm.vo.sys.user.UserResponse" parameterType="com.eghm.dto.sys.user.UserQueryRequest">
        select
        t.id,
        t.nick_name,
        t.user_name,
        r.title as deptName,
        t.mobile,
        t.user_type,
        t.data_type,
        t.state,
        t.remark,
        t.create_time,
        t.update_time
        from sys_user t
        left join sys_dept r on t.dept_code = r.code where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (
                t.nick_name like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%') or
                t.mobile like concat('%', #{param.queryName, typeHandler=LikeTypeHandler}, '%')
            )
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.userType != null">
            and t.user_type = #{param.userType}
        </if>
        order by t.id desc
    </select>

    <select id="getMerchantType" resultType="int">
        select type from merchant where user_id = #{userId} limit 1
    </select>

</mapper>