<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.TicketOrderMapper">

    <select id="getByPage" parameterType="com.eghm.dto.business.order.ticket.TicketOrderQueryRequest" resultType="com.eghm.vo.business.order.ticket.TicketOrderResponse">
        select
            t.order_no,
            r.title,
            t.scenic_name,
            r.pay_type,
            r.num,
            r.mobile,
            r.state,
            r.discount_amount,
            r.pay_amount,
            r.pay_time,
            r.create_time
        from ticket_order t inner join `order` r on t.order_no = r.order_no
        where t.deleted = false
        <if test="param.merchantId != null">
            and r.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != '' ">
            and (t.order_no like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
                 r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
                 t.scenic_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
                 r.mobile like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
                )
        </if>
        <if test="param.state != null">
            and r.state = #{param.state}
        </if>
        <if test="param.useVoucher != null">
            <if test="param.useVoucher">
                and r.coupon_id is not null
            </if>
            <if test="!param.useVoucher">
                and r.coupon_id is null
            </if>
        </if>
        <if test="param.startDate != null and param.endDate != null">
            and r.pay_time between #{param.startDate} and #{param.endDate}
        </if>
        <if test="param.closeType != null">
            and r.close_type = #{param.closeType}
        </if>
        order by t.id desc
    </select>
    <select id="getList" parameterType="com.eghm.dto.business.order.ticket.TicketOrderQueryDTO" resultType="com.eghm.vo.business.order.ticket.TicketOrderVO">
        select
            t.order_no,
            r.cover_url,
            r.title,
            t.scenic_name,
            r.pay_type,
            r.num,
            r.state,
            r.pay_amount
        from `order` r
            inner join ticket_order t on t.order_no = r.order_no
        where t.deleted = false and r.member_id = #{param.memberId}
        <if test="param.queryName != null and param.queryName != ''">
            and (r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            t.scenic_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%'))
        </if>
        <if test="param.orderState != null">
            and r.state = #{param.orderState}
        </if>
        <if test="param.startDate != null and param.endDate != null">
            and r.pay_time between #{param.startDate} and #{param.endDate}
        </if>
        order by t.id desc
    </select>

    <select id="getDetail" resultType="com.eghm.vo.business.order.ticket.TicketOrderDetailVO">
        select
            t.order_no,
            r.cover_url,
            r.title,
            r.verify_no,
            t.scenic_id,
            t.scenic_name,
            t.category,
            r.pay_type,
            r.num,
            r.refund_type,
            r.refund_state,
            r.price,
            r.discount_amount,
            r.pay_amount,
            r.create_time,
            r.pay_time,
            r.complete_time,
            t.visit_date,
            r.mobile,
            r.state,
            r.remark
        from `order` r
        inner join ticket_order t on t.order_no = r.order_no
        where t.deleted = false and r.member_id = #{memberId} and r.order_no = #{orderNo}
    </select>

    <select id="getSnapshot" resultType="com.eghm.vo.business.order.ProductSnapshotVO">
        select
        t.title as productTitle,
        t.store_id,
        t.cover_url as productCover,
        r.ticket_id as productId
        from ticket_order r inner join `order` t on t.order_no = r.order_no
        where t.id = #{orderId} and t.order_no = #{orderNo} and t.deleted = false
    </select>

    <select id="getUnVerifyList" resultType="com.eghm.vo.business.order.ticket.TicketVerifyVO">
        select
            t.order_no,
            t.merchant_id
        from ticket_order r
        inner join `order` t on t.order_no = r.order_no
        where t.deleted = false and r.deleted = false and t.state = 2 and r.verification_type = 2 and r.visit_date &lt; curdate()
    </select>

    <select id="detail" resultType="com.eghm.vo.business.order.ticket.TicketOrderDetailResponse">
        select
            t.order_no,
            r.cover_url,
            r.title,
            t.scenic_id,
            t.scenic_name,
            t.category,
            r.trade_no,
            t.verification_type,
            t.visit_date,
            r.pay_type,
            r.num,
            r.refund_type,
            r.refund_state,
            r.price,
            r.discount_amount,
            r.pay_amount,
            r.create_time,
            r.pay_time,
            r.complete_time,
            r.mobile,
            r.state,
            r.refund_state,
            r.close_time,
            r.close_type,
            t.use_time,
            t.real_buy,
            r.remark
        from `order` r
        inner join ticket_order t on t.order_no = r.order_no
        where t.deleted = false and r.order_no = #{orderNo}
        <if test="merchantId != null">
            and r.merchant_id = #{merchantId}
        </if>
    </select>

</mapper>
