<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.TicketOrderCombineMapper">

    <select id="getList" resultType="com.eghm.vo.business.scenic.ticket.CombineTicketVO">
        select
            id,
            title,
            category
        from ticket_order_combine
        where order_no = #{orderNo} and deleted = false
    </select>
</mapper>
