<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.TravelAgencyMapper">

    <select id="getByPage" parameterType="com.eghm.dto.business.travel.TravelAgencyQueryRequest" resultType="com.eghm.vo.business.line.TravelResponse">
        select
            id,
            title,
            phone,
            cover_url,
            logo_url,
            city_id,
            county_id,
            detail_address,
            score,
            state,
            create_time,
            update_time
        from travel_agency where deleted = false
        <if test="param.merchantId != null">
            and merchant_id = #{param.merchantId}
        </if>
        <if test="param.state != null">
            and state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        order by id desc
    </select>

    <select id="getBaseList" resultType="com.eghm.vo.business.line.BaseTravelResponse">
        select
            id,
            title,
            state
        from travel_agency where deleted = false
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        order by id desc
    </select>

    <update id="updateScore">
        update travel_agency set score = #{score} where id = #{id}
    </update>

    <select id="getList" resultType="com.eghm.vo.business.line.TravelVO">
        select
            id,
            title,
            cover_url,
            logo_url,
            depict,
            score,
            state
        from travel_agency where id in
        <foreach collection="travelAgencyIds" item="item" separator="," open="(" close=")">
                  #{item}
        </foreach>
    </select>

    <select id="getStorePage" parameterType="com.eghm.dto.business.base.BaseStoreQueryRequest" resultType="com.eghm.vo.business.base.BaseStoreResponse">
        select
        t.id as storeId,
        t.title as storeName,
        t.state,
        t.cover_url as coverUrl,
        'line' as productType,
        r.merchant_name
        from travel_agency t left join merchant r on t.merchant_id = r.id where t.deleted = false
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and ( t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
            r.merchant_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') )
        </if>
        order by t.id desc
    </select>

    <select id="getStoreList" resultType="com.eghm.vo.business.base.BaseStoreResponse">
        select
        t.id as storeId,
        t.title as storeName,
        t.state,
        t.cover_url as coverUrl,
        'line' as productType,
        r.merchant_name
        from travel_agency t left join merchant r on t.merchant_id = r.id
        where t.deleted = false and t.id in
        <foreach collection="travelIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
