<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.TravelAgencyMapper">

    <update id="updateScore">
        update travel_agency set score = #{score} where id = #{id}
    </update>

    <select id="getList" resultType="com.eghm.vo.business.line.TravelAgencyVO">
        select
            id,
            title,
            cover_url,
            logo_url,
            depict,
            score,
            state
        from travel_agency where id in
        <foreach collection="travelAgencyIds" item="item" separator="," open="(" close=")">
                  #{item}
        </foreach>
    </select>
</mapper>
