<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.VenueSiteMapper">

    <select id="getByPage" parameterType="com.eghm.dto.business.venue.VenueSiteQueryRequest" resultType="com.eghm.vo.business.venue.VenueSiteResponse" >
        select
        t.id,
        t.cover_url,
        t.venue_id,
        r.title as venueName,
        t.title,
        t.state,
        t.sort,
        t.create_time,
        t.update_time
        from venue_site t left join venue r on t.venue_id = r.id
        where t.deleted = false
        <if test="param.venueId != null">
            and t.venue_id = #{param.venueId}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
        </if>
        order by t.sort
    </select>

    <select id="getProductPage" parameterType="com.eghm.dto.business.base.BaseProductQueryRequest" resultType="com.eghm.vo.business.base.BaseProductResponse">
        select
        t.id,
        t.title,
        t.cover_url,
        'venue' as productType,
        t.state,
        t.state = 2 as disabled,
        r.title as storeName
        from venue_site t inner join venue r on t.venue_id = r.id
        where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (t.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%')
            or r.title like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler} ,'%'))
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        order by t.id desc
    </select>

</mapper>
