<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.VerifyLogMapper">

    <select id="getVerifiedNum" resultType="int">
        select ifnull(sum(num), 0) from verify_log where order_no = #{orderNo}
    </select>

    <select id="getByPage" parameterType="com.eghm.dto.business.verify.VerifyLogQueryRequest" resultType="com.eghm.vo.business.verify.VerifyLogResponse">
        select
        t.id,
        t.order_no,
        t.num,
        t.remark,
        t.create_time,
        r.nick_name as verifyName,
        s.merchant_name
        from verify_log t
        left join sys_user r on t.user_id = r.id
        left join merchant s on t.merchant_id = s.id
        <where>
            <if test="param.merchantId != null">
                and t.merchant_id = #{param.merchantId}
            </if>
            <if test="param.queryName != null and param.queryName != ''">
                and t.order_no like concat('%', #{param.queryName, typeHandler=LikeTypeHandler} ,'%')
            </if>
            <if test="param.startDate != null">
                and t.create_time &gt;= #{param.startDate}
            </if>
            <if test="param.endDate != null">
                and t.create_time &lt; #{param.endDate}
            </if>
        </where>
        order by t.id desc
    </select>

</mapper>
