<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.VoucherTagMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.restaurant.VoucherTagResponse" parameterType="com.eghm.dto.business.VoucherTagQueryRequest">
        select
        t.id,
        t.restaurant_id,
        r.title as restaurantName,
        t.title,
        t.remark,
        t.state,
        t.sort,
        t.create_time,
        t.update_time
        from
            voucher_tag t left join restaurant r on t.restaurant_id = r.id
        where
            t.deleted = 0
        <if test="param.restaurantId != null">
            and t.restaurant_id = #{param.restaurantId}
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.queryName != null and param.queryName != ''">
            and t.title like concat('%', #{param.queryName, typeHandler=LikeTypeHandler},'%')
        </if>
        order by t.sort, t.id desc
    </select>

    <select id="getList" resultType="com.eghm.vo.business.restaurant.TagSelectResponse">
        select
            t.id,
            t.title,
            t.state
        from
            voucher_tag t
        where
            t.deleted = 0 and t.restaurant_id = #{restaurantId} order by t.sort, t.id desc
    </select>

</mapper>
