<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.WebappLogMapper">

    <select id="getByPage" resultType="com.eghm.vo.log.WebappLogResponse" parameterType="com.eghm.dto.log.WebappQueryRequest">
       select
        r.nick_name,
        t.url,
        t.request_param,
        t.error_msg,
        t.version,
        t.channel,
        t.os_version,
        t.device_brand,
        t.device_model,
        t.serial_number,
        t.ip,
        t.trace_id,
        t.elapsed_time,
        t.create_time
       from webapp_log t
       left join member r on t.member_id = r.id
       <where>
           <if test="param.queryName != null and param.queryName != ''">
               and (r.nick_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
                    or t.serial_number like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
                    or t.url like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
                   )
           </if>
           <if test="param.channel != null and param.channel != ''">
               and t.channel = #{param.channel}
           </if>
           <if test="param.ip != null and param.ip != ''">
               and t.ip = #{param.ip}
           </if>
           <if test="param.traceId != null and param.traceId != ''">
               and t.trace_id = #{param.traceId}
           </if>
       </where>
       order by t.id desc
    </select>
</mapper>