<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.mapper.WithdrawLogMapper">

    <select id="getByPage" resultType="com.eghm.vo.business.withdraw.WithdrawLogResponse" parameterType="com.eghm.dto.business.withdraw.WithdrawQueryRequest">
        select
        r.merchant_name,
        t.refund_no,
        t.bank_num,
        t.remark,
        t.state,
        t.amount,
        t.out_refund_no,
        t.payment_time,
        t.real_name,
        t.bank_type,
        t.withdraw_way,
        t.fee,
        t.create_time
        from withdraw_log t
        left join merchant r on t.merchant_id = r.id where t.deleted = false
        <if test="param.queryName != null and param.queryName != ''">
            and (r.merchant_name like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
                 t.refund_no like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%') or
                 t.out_refund_no like concat('%', #{param.queryName, typeHandler=com.eghm.handler.mysql.LikeTypeHandler}, '%')
            )
        </if>
        <if test="param.merchantId != null">
            and t.merchant_id = #{param.merchantId}
        </if>
        <if test="param.state != null">
            and t.state = #{param.state}
        </if>
        <if test="param.withdrawWay != null">
            and t.withdraw_way = #{param.withdrawWay}
        </if>
        <if test="param.startDate != null">
            and t.payment_time &gt;= #{param.startDate}
        </if>
        <if test="param.endDate != null">
            and t.payment_time &lt; #{param.endDate}
        </if>
        order by id desc
    </select>
</mapper>
