<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.dao.mapper.business.PushTemplateMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.dao.model.business.PushTemplate">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="nid" jdbcType="CHAR" property="nid" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tag" jdbcType="CHAR" property="tag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, title, nid, state,  content, update_time, tag, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from push_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.dao.model.business.PushTemplate">
    <!--
      @create by mybatis
    -->
    update push_template
    <set>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=CHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getByNid" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from push_template where nid = #{nid} and state = true limit 1
    </select>

    <select id="getList" parameterType="com.fanyin.model.dto.business.push.PushTemplateQueryRequest" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from push_template
        <where>
            <if test="queryName != null">
                and (title like concat('%',#{queryName},'%') or nid = #{queryName})
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>
</mapper>