<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.dao.mapper.business.TaskConfigMapper">
  <resultMap id="BaseResultMap" type="com.eghm.dao.model.business.TaskConfig">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, title, nid, bean_name, cron_expression, state, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from task_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.eghm.dao.model.business.TaskConfig">
    <!--
      @create by mybatis
    -->
    update task_config
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null">
        bean_name = #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null">
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getAvailableList" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from task_config where state = 1
    </select>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.eghm.model.dto.task.TaskQueryRequest">
        select <include refid="BaseColumnList"/>
        from task_config
        <where>
            <if test="queryName != null and queryName != ''">
                and (title like concat('%',#{queryName},'%') or nid = #{queryName} or bean_name = #{queryName})
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>
</mapper>