<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.dao.mapper.business.TaskLogMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.dao.model.business.TaskLog">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nid" jdbcType="CHAR" property="nid" />
    <result column="bean_name" jdbcType="CHAR" property="beanName" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="ip" jdbcType="CHAR" property="ip" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fanyin.dao.model.business.TaskLog">
    <!--
      @create by mybatis
    -->
    <result column="error_msg" jdbcType="LONGVARCHAR" property="errorMsg" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, nid,bean_name, state, start_time, end_time, ip
  </sql>
  <sql id="BlobColumnList">
    <!--
      @create by mybatis
    -->
    error_msg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="BlobColumnList" />
    from task_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.fanyin.dao.model.business.TaskLog">
    <!--
      @create by mybatis
    -->
    insert into task_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nid != null">
        nid,
      </if>
        <if test="beanName != null">
            bean_name,
        </if>
      <if test="state != null">
        state,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nid != null">
        #{nid,jdbcType=CHAR},
      </if>
        <if test="beanName != null">
            #{beanName,jdbcType=CHAR},
        </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=CHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.dao.model.business.TaskLog">
    <!--
      @create by mybatis
    -->
    update task_log
    <set>
      <if test="nid != null">
        nid = #{nid,jdbcType=CHAR},
      </if>
        <if test="beanName != null">
            bean_name = #{beanName,jdbcType=CHAR},
        </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getList" parameterType="com.fanyin.model.dto.business.task.TaskLogQueryRequest" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from task_log
        <where>
            <if test="queryName != null">
                and (nid = #{queryName} or bean_name = #{queryName} or ip = #{queryName}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>
</mapper>